

<div id="add-form-container" class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Divulgue a vaga preenchendo o formulário</h1>
    </div>
    <div id="form-box" class="col-md-12">
      <h2>Preencha os dados do Responsável:</h2>
      <form action="/trocavagas/add" method="POST">

        <div class="form-group">
          <label for="responsavel">Nome do Responsável:</label>
          <input type="text" class="form-control" id="responsavel" name="responsavel" placeholder="Digite o nome completo do responsável" required>
        </div>
        <div class="form-group">
          <label for="email">E-mail para contato:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Digite o e-mail para contato" required>
        </div>
        <div class="form-group">
          <label for="telefone">Telefone de contato:</label>
          <input type="telefone" class="form-control" id="telefone" name="telefone" placeholder="Digite o telefone para contato via ligação ou Whatsapp" required>
        </div>

        <h2>Preencha os dados da vaga de origem (atual):</h2>


        <div class="form-group">
           <label for="primeiroSelect">Região Administrativa:</label>
            <select class="form-control" id="primeiroSelect" name="regiao_origem" onchange="carregarEscolas()">
                <option value="selecione">Selecione a Região Administrativa</option>
                <option value="Brazlândia">Brazlândia
                <option value="Ceilândia / Sol Nascente / Pôr do Sol">Ceilândia / Sol Nascente / Pôr do Sol
                <option value="Gama">Gama
                <option value="Guará / SCIA / Estrutural">Guará / SCIA / Estrutural
                <option value="Núcleo Bandeirante / Candangolândia / Riacho Fundo I e II">Núcleo Bandeirante / Candangolândia / Riacho Fundo I e II
                <option value="Paranoá / Itapoã">Paranoá / Itapoã
                <option value="Planaltina / Arapoanga">Planaltina / Arapoanga
                <option value="Plano Piloto / Cruzeiro / Jardim Botânico / Lago Norte / Varjão">Plano Piloto / Cruzeiro / Jardim Botânico / Lago Norte / Varjão
                <option value="Recanto das Emas">Recanto das Emas
                <option value="Samambaia">Samambaia
                <option value="Santa Maria">Santa Maria
                <option value="São Sebastião">São Sebastião
                <option value="Sobradinho / Sobradinho II / Fercal">Sobradinho / Sobradinho II / Fercal
                <option value="Taguatinga / Águas Claras / Arniqueira / Vicente Pires">Taguatinga / Águas Claras / Arniqueira / Vicente Pires
        </select>
      </div>
    
     <div class="form-group">
        <label for="segundoSelect">Escola:</label>
        <select class="form-control" id="segundoSelect" name="escola_origem">
            <option value="selecione">Selecione uma Região Primeiro</option>
        </select>

        <script>
          function carregarEscolas() {
            var primeiroSelect = document.getElementById("primeiroSelect");
            var segundoSelect = document.getElementById("segundoSelect");

            var regiaoSelecionada = primeiroSelect.value;

            // Limpar o segundo select
            segundoSelect.innerHTML = "";

            if (regiaoSelecionada === "Brazlândia") {
                // Se o Brazlandia for selecionada, preencher com escolas de Brazlandia
                var escolasBrazlandia  = ["Selecione uma Escola", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA FLAMBOYANT", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA SAGUI", "CENTRO DE EDUCAÇÃO INFANTIL 01 de BRAZLÂNDIA", "CENTRO DE EDUCAÇÃO INFANTIL 02 DE BRAZLÂNDIA", "CENTRO DE EDUCAÇÃO INFANTIL 03 de BRAZLÂNDIA", "CENTRO DE EDUCAÇÃO INFANTIL TIA NAIR", "CENTRO DE EDUCACIONAL INCRA 08", "CENTRO DE EDUCACIONAL IRMÃ MARIA REGINA VELANES REGIS", "CENTRO DE ENSINO ESPECIAL 01 DE BRAZLANDIA", "CENTRO DE ENSINO FUNDAMENTAL 01 de BRAZLÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 02 de BRAZLÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 03 de BRAZLÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL INCRA 07 de BRAZLÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL VENDINHA", "CENTRO DE ENSINO MÉDIO 01 de BRAZLÂNDIA", "CENTRO DE ENSINO MÉDIO 02 de BRAZLÂNDIA", "CENTRO EDUCACIONAL 02 de BRAZLÂNDIA", "CENTRO EDUCACIONAL 04 de BRAZLÂNDIA", "CENTRO INTERESCOLAR DE LINGUAS DE BRAZLANDIA", "ESCOLA CLASSE 01 DE BRAZLANDIA", "ESCOLA CLASSE 01 INCRA 08", "ESCOLA CLASSE 03 DE BRAZLÂNDIA", "ESCOLA CLASSE 05 DE BRAZLÂNDIA", "ESCOLA CLASSE 06 DE BRAZLANDIA", "ESCOLA CLASSE 07 DE BRAZLÂNDIA", "ESCOLA CLASSE 08 DE BRAZLÂNDIA", "ESCOLA CLASSE 09 de BRAZLÂNDIA", "ESCOLA CLASSE ALMESCOLA CLASSEEGAS", "ESCOLA CLASSE BUCANHÃO", "ESCOLA CLASSE CHAPADINHA", "ESCOLA CLASSE INCRA 06", "ESCOLA CLASSE PÓLO AGRÍCOLA DA TORRE", "ESCOLA PARQUE DA NATUREZA DE BRAZLANDIA", "JARDIM DE INFÂNCIA MENINO JESUS", "CAIC PROFESSOR BENEDITO CARLOS DE OLIVEIRA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA AROEIRA"];

                escolasBrazlandia .forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "Ceilândia / Sol Nascente / Pôr do Sol") {
                // Se o Ceilândia / Sol Nascente / Pôr do Sol for selecionada, preencher com escolas de Ceilândia / Sol Nascente / Pôr do Sol
                var escolasCeilandia  = ["Selecione uma Escola", "CAIC BERNARDO SAYAO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CAPIM DOURADO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ESTRELA-DO-CERRADO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA FLOR DE PEQUI", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA IPÊ AMARELO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA IPE-BRANCO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JASMIM", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PAPAGAIO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA SEMPRE VIVA", "CENTRO DE EDUCAÇÃO INFANTIL 01 CEILÂNDIA", "CENTRO DE EDUCACIONAL 06 DE CEILÂNDIA", "CENTRO DE EDUCACIONAL 07 DE CEILÂNDIA", "CENTRO DE EDUCACIONAL 11 DE CEILÂNDIA", "CENTRO DE EDUCACIONAL 14 DE CEILÂNDIA", "CENTRO DE EDUCACIONAL INCRA 09", "CENTRO DE ENSINO ESPECIAL 01 DE CEILÂNDIA", "CENTRO DE ENSINO ESPECIAL 02 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 02 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 04 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 07 de CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 10 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 11 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 12 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 13 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 14 de CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 16 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 18 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 19 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 20 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 25 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 26 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 27 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 28 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 30 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 31 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 32 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 33 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 34 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 35 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL BOA ESPERANÇA", "CENTRO DE ENSINO FUNDAMENTAL PROFA. MARIA DO ROSÁRIO GONDIM", "CENTRO DE ENSINO MÉDIO 02 DE CEILÂNDIA", "CENTRO DE ENSINO MÉDIO 03 DE CEILÂNDIA", "CENTRO DE ENSINO MÉDIO 04 DE CEILÂNDIA", "CENTRO DE ENSINO MÉDIO 09 DE CEILÂNDIA", "CENTRO DE ENSINO MÉDIO 10 DE CEILÂNDIA", "CENTRO DE ENSINO MÉDIO 12 DE CEILÂNDIA", "CENTRO EDUCACIONAL 15 DE CEILÂNDIA", "CENTRO INTERESCOLAR DE LINGUAS DE CEILÂNDIA", "CESC C COMUNITARIO DA CRIANCA", "CESCOLA PARQUE - ESC TÉCNICA DE CEILÂNDIA", "COMUNIDADE EVANGÉLICA CONF LUTERANA GIRASSOL", "ESCOLA CLASSE 01 DE CEILÂNDIA", "ESCOLA CLASSE 02 DE CEILÂNDIA", "ESCOLA CLASSE 08 DE CEILÂNDIA", "ESCOLA CLASSE 10 DE CEILÂNDIA", "ESCOLA CLASSE 11 DE CEILÂNDIA", "ESCOLA CLASSE 12 DE CEILÂNDIA", "ESCOLA CLASSE 13 DE CEILÂNDIA", "ESCOLA CLASSE 15 DE CEILÂNDIA", "ESCOLA CLASSE 16 DE CEILÂNDIA", "ESCOLA CLASSE 17 DE CEILÂNDIA", "ESCOLA CLASSE 18 DE CEILÂNDIA", "ESCOLA CLASSE 19 DE CEILÂNDIA", "ESCOLA CLASSE 20 DE CEILÂNDIA", "ESCOLA CLASSE 21 DE CEILÂNDIA", "ESCOLA CLASSE 22 DE CEILÂNDIA", "ESCOLA CLASSE 24 DA CEILÂNDIA", "ESCOLA CLASSE 25 DE CEILÂNDIA", "ESCOLA CLASSE 26 DE CEILÂNDIA", "ESCOLA CLASSE 27 DE CEILÂNDIA", "ESCOLA CLASSE 28 DE CEILÂNDIA", "ESCOLA CLASSE 29 DE CEILÂNDIA", "ESCOLA CLASSE 31 de CEILÂNDIA", "ESCOLA CLASSE 33 DE CEILÂNDIA", "ESCOLA CLASSE 34 DE CEILÂNDIA", "ESCOLA CLASSE 35 DE CEILÂNDIA", "ESCOLA CLASSE 36 DE CEILÂNDIA", "ESCOLA CLASSE 38 DE CEILÂNDIA", "ESCOLA CLASSE 39 DE CEILÂNDIA", "ESCOLA CLASSE 40 DE CEILÂNDIA", "ESCOLA CLASSE 43 DE CEILÂNDIA", "ESCOLA CLASSE 45 DE CEILÂNDIA", "ESCOLA CLASSE 46 DE CEILÂNDIA", "ESCOLA CLASSE 47 DE CEILÂNDIA", "ESCOLA CLASSE 48 DE CEILÂNDIA", "ESCOLA CLASSE 50 DE CEILÂNDIA", "ESCOLA CLASSE 52 DE CEILÂNDIA", "ESCOLA CLASSE 55 DE CEILÂNDIA", "ESCOLA CLASSE 56 DE CEILÂNDIA", "ESCOLA CLASSE 59 DE CEILÂNDIA", "ESCOLA CLASSE 61 DE CEILÂNDIA", "ESCOLA CLASSE 62 DE CEILÂNDIA", "ESCOLA CLASSE 64 DE CEILÂNDIA", "ESCOLA CLASSE 65 DE CEILÂNDIA", "ESCOLA CLASSE 66 DE CEILÂNDIA", "ESCOLA CLASSE 68 DE CEILÂNDIA", "ESCOLA CLASSE DO SETOR P NORTE", "ESCOLA CLASSE JARDIM DE INFÂNCIABOIA", "ESCOLA CLASSE JUSCELINO KUBITSCHEK - SOL NASCENTE", "ESCOLA CLASSE LAJES DA JIBOIA", "ESCOLA PARQUE ANISIO TEIXEIRA", "SOCIEDADE SÃO VICENTE PAULO - CRECHE FREDERICO OZANAM", "CAIC PROFESSOR ANÍSIO TEIXEIRA", "CED 16 DE CEILÂNDIA", "ESCOLA CLASSE 03 DE CEILÂNDIA", "ESCOLA CLASSE 06 DE CEILÂNDIA", "ESCOLA CLASSE CÓRREGO DAS CORUJAS", "INSTITUTO PAZ É VIDA"];

                escolasCeilandia .forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "Gama") {
                // Se o Gama for selecionada, preencher com escolas de Gama
                var escolasGama = ["Selecione uma Escola", "CAIC CARLOS CASTELLO BRANCO", "CENTRO DE CONVIVÊNCIA E EDUC INF NOSSA SENHORA DO CARMO", "CENTRO DE CONVIVÊNCIA EDUCACIONAL INF DIVINO ESPÍRITO SANTO", "CENTRO DE EDUCAÇÃO INFANTIL 01 DO GAMA", "CENTRO DE EDUCACIONAL 07 DO GAMA", "CENTRO DE EDUCACIONAL 08 DO GAMA", "CENTRO DE EDUCACIONAL CASA GRANDE", "CENTRO DE EDUCACIONAL GESNER TEIXEIRA", "CENTRO DE ENSINO ESPECIAL 01 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 01 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 03 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 04 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 05 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 08 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 10 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 11 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 15 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL PONTE ALTA DO BAIXO", "CENTRO DE ENSINO FUNDAMENTAL PONTE ALTA NORTE", "CENTRO DE ENSINO FUNDAMENTAL TAMANDUÁ", "CENTRO DE ENSINO MÉDIO 01 DO GAMA", "CENTRO DE ENSINO MÉDIO 02 DO GAMA", "CENTRO DE ENSINO MÉDIO 03 DO GAMA", "CENTRO DE ENSINO MÉDIO INTEGRADO À EDUC PROFISSIONAL DO GAMA", "CENTRO EDUCACIONAL 06 DO GAMA", "CENTRO EDUCACIONAL ENGENHO DAS LAJES", "CENTRO INTERESCOLAR DE LINGUAS DO GAMA", "ESCOLA CLASSE 01 DO GAMA", "ESCOLA CLASSE 02 DO GAMA", "ESCOLA CLASSE 03 DO GAMA", "ESCOLA CLASSE 06 DO GAMA", "ESCOLA CLASSE 07 DO GAMA", "ESCOLA CLASSE 09 DO GAMA", "ESCOLA CLASSE 10 DO GAMA", "ESCOLA CLASSE 12 DO GAMA", "ESCOLA CLASSE 14 DO GAMA", "ESCOLA CLASSE 15 DO GAMA", "ESCOLA CLASSE 16 DO GAMA", "ESCOLA CLASSE 17 DO GAMA", "ESCOLA CLASSE 18 DO GAMA", "ESCOLA CLASSE 19 DO GAMA", "ESCOLA CLASSE 21 DO GAMA", "ESCOLA CLASSE 22 DO GAMA", "ESCOLA CLASSE 28 DO GAMA", "ESCOLA CLASSE 29 DO GAMA", "ESCOLA CLASSE CÓRREGO BARREIRO", "ESCOLA CLASSE PONTE ALTA DE CIMA", "JARDIM DE INFÂNCIA 02 DO GAMA", "JARDIM DE INFÂNCIA 03 DO GAMA", "JARDIM DE INFÂNCIA 04 GAMA", "JARDIM DE INFÂNCIA 05 DO GAMA", "JARDIM DE INFÂNCIA 06 GAMA", "CENTRO DE EDUCAÇÃO INFANTIL TOCANDO O MUNDO"];

                escolasGama.forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "Guará / SCIA / Estrutural") {
                // Se o Guará / SCIA / Estrutural for selecionada, preencher com escolas de Guará / SCIA / Estrutural
                var escolasGuara = ["Selecione uma Escola", "ASSOCIAÇÃO DE INTEGRAÇÃO SOCIAL DE BRASÍLIA - CRECHE SOR", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA LOBO GUARA", "CENTRO DE EDUCAÇÃO INFANTIL 01 DA ESTRUTURAL", "CENTRO DE EDUCAÇÃO INFANTIL SAO JOSE OPERARIO", "CENTRO DE EDUCACIONAL 01 DO GUARÁ", "CENTRO DE EDUCACIONAL 04 DO GUARÁ", "CENTRO DE ENSINO ESPECIAL CENTRO DE ENSINO ESPECIAL 01 DO GUARA", "CENTRO DE ENSINO FUNDAMENTAL 01 DO GUARÁ", "CENTRO DE ENSINO FUNDAMENTAL 02 DA ESTRUTURAL", "CENTRO DE ENSINO FUNDAMENTAL 02 DO GUARÁ", "CENTRO DE ENSINO FUNDAMENTAL 03 AS ESTRUTURAL", "CENTRO DE ENSINO FUNDAMENTAL 04 DO GUARÁ", "CENTRO DE ENSINO FUNDAMENTAL 05 DO GUARÁ", "CENTRO DE ENSINO FUNDAMENTAL 08 DO GUARÁ", "CENTRO DE ENSINO FUNDAMENTAL 10 DO GUARÁ", "CENTRO DE ENSINO MÉDIO 01 DO GUARÁ", "CENTRO EDUCACIONAL 01 DA ESTRUTURAL", "CENTRO EDUCACIONAL 03 DO GUARÁ", "CENTRO INTERESCOLAR DE LINGUAS DO GUARA", "CRECHE COMUNITÁRIA DA QE 38 DO GUARÁ II", "CRECHE TIA JOANA DO LUCIO COSTA", "CRESCOLA CLASSEHE RENASCER", "ESCOLA CLASSE 01 DA VILA ESTRUTURAL", "ESCOLA CLASSE 01 DO GUARÁ", "ESCOLA CLASSE 02 DO GUARA", "ESCOLA CLASSE 03 DO GUARÁ", "ESCOLA CLASSE 05 DO GUARÁ", "ESCOLA CLASSE 06 DO GUARÁ", "ESCOLA CLASSE 07 DO GUARÁ", "ESCOLA CLASSE 08 DO GUARÁ", "ESCOLA CLASSE DO SRIA", "JARDIM DE INFÂNCIA LÚCIO COSTA", "CENTRO DE EDUCAÇÃO PROFISSIONAL ARTICULADO DO GUARÁ PROFESSORA T,", "ESCOLA CLASSE 02 DA ESTRUTURAL,"];

                escolasGuara.forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "Núcleo Bandeirante / Candangolândia / Riacho Fundo I e II") {
                // Se o Núcleo Bandeirante / Candangolândia / Riacho Fundo I e II for selecionada, preencher com escolas de Núcleo Bandeirante / Candangolândia / Riacho Fundo I e II
                var escolasNucleoBandeirante = ["Selecione uma Escola", "CAIC JUSCELINO KUBITSCHEK", "CENTRO DE EDUCAÇÃO INFANTIL 01 DO RIACHO FUNDO I", "CENTRO DE EDUCAÇÃO INFANTIL DA CANDANGOLÂNDIA", "CENTRO DE EDUCAÇÃO INFANTIL DO NUCLEO BANDEIRANTE", "CENTRO DE EDUCAÇÃO INFANTIL DO RIACHO FUNDO II", "CENTRO DE EDUCACIONAL 01 DO RIACHO FUNDO II", "CENTRO DE EDUCACIONAL 02 DO RIACHO FUNDO", "CENTRO DE EDUCACIONAL AGROURBANO IPÊ RIACHO FUNDO", "CENTRO DE EDUCACIONAL VARGEM BONITA", "CENTRO DE ENSINO FUNDAMENTAL 01 DA CANDANGOLÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 01 DO NÚCLEO BANDEIRANTE", "CENTRO DE ENSINO FUNDAMENTAL 01 DO RIACHO FUNDO II", "CENTRO DE ENSINO FUNDAMENTAL 02 DO RIACHO FUNDO II", "CENTRO DE ENSINO FUNDAMENTAL METROPOLITANA", "CENTRO DE ENSINO FUNDAMENTAL TELEBRASÍLIA", "CENTRO DE ENSINO MÉDIO 01 DO RIACHO FUNDO", "CENTRO DE ENSINO MÉDIO JULIA KUBITSCHEK", "CENTRO DE ENSINO MÉDIO URSO BRANCO", "CENTRO INTERESCOLAR DE LINGUAS 01 DO NÚCLEO BANDEIRANTE", "CENTRO INTERESCOLAR DE LINGUAS DO RIACHO FUNDO I", "CENTRO INTERESCOLAR DE LINGUAS DO RIACHO FUNDO II", "CRECHE IRMÃ ELVIRA", "CRECHECANTINHO DE VOCÊ", "CRECHECASA DA MÃE PRETA DO BRASIL - CMPB", "ESCOLA CLASSE 01 DA CANDANGOLÂNDIA", "ESCOLA CLASSE 01 DO RIACHO FUNDO II", "ESCOLA CLASSE 02 DA CANDANGOLÂNDIA", "ESCOLA CLASSE 02 DO RIACHO FUNDO II", "ESCOLA CLASSE 02 DO RIACHO FUNDO", "ESCOLA CLASSE 03 DO NÚCLEO BANDEIRANTE", "ESCOLA CLASSE 04 DO NÚCLEO BANDEIRANTE", "ESCOLA CLASSE 05 DO NÚCLEO BANDEIRANTE", "ESCOLA CLASSE AGROVILA II", "ESCOLA CLASSE IPÊ", "ESCOLA CLASSE KANEGAE", "ESCOLA CLASSE RIACHO FUNDO", "ESCOLA CLASSE VERDE DO RIACHO FUNDO I", "INST DE EDUC HAIDEE NEVES - IEHN", "INST NAIR VALADARES - INAV", "JARDIM DE INFÂNCIA 01 DO RIACHO FUNDO II", "LAR DAS CRIANÇAS LUIZ HERMANI", "LAR EDUCANDÁRIO NOSSA SENHORA MONT SERRAT"];

                escolasNucleoBandeirante.forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "Paranoá / Itapoã") {
                // Se o Paranoá / Itapoã for selecionada, preencher com escolas de Paranoá / Itapoã
                var escolasParanoa = ["Selecione uma Escola", "CAIC SANTA PAULINA", "CENTRO DE EDUC SAO FILIPPO SMALDONE - CENTRO DE ENSINO FUNDAMENTALIS", "CENTRO DE EDUCAÇÃO INFANTIL 01 DO PARANOÁ", "CENTRO DE EDUCACIONAL 01 DO ITAPOÃ", "CENTRO DE ENSINO FUNDAMENTAL 01 DO PARANOA", "CENTRO DE ENSINO FUNDAMENTAL 02 DO PARANOA", "CENTRO DE ENSINO FUNDAMENTAL 03 DO PARANOÁ", "CENTRO DE ENSINO FUNDAMENTAL 04 DO PARANOÁ", "CENTRO DE ENSINO FUNDAMENTAL BURITI VERMELHO", "CENTRO DE ENSINO FUNDAMENTAL DOUTORA ZILDA ARNS", "CENTRO DE ENSINO FUNDAMENTAL JARDIM II DO PARANOÁ", "CENTRO DE ENSINO MÉDIO 01 DO PARANOÁ", "CENTRO EDUCACIONAL DARCY RIBEIRO", "CENTRO EDUCACIONAL DO PAD/DF", "CENTRO INTERESCOLAR DE LINGUAS 01 DO PARANOA", "ESCOLA CLASSE 01 DE ITAPOÃ", "ESCOLA CLASSE 01 DO PARANOÁ", "ESCOLA CLASSE 02 DO ITAPOÃ", "ESCOLA CLASSE 02 DO PARANOÁ", "ESCOLA CLASSE 03 DO PARANOÁ", "ESCOLA CLASSE 04 DO PARANOÁ", "ESCOLA CLASSE 06 DO PARANOÁ", "ESCOLA CLASSE ALTO INTERLAGOS", "ESCOLA CLASSE BOQUEIRÃO", "ESCOLA CLASSE CAFÉ SEM TROCO", "ESCOLA CLASSE CAPÃO SESCOLA CLASSEO", "ESCOLA CLASSE CARIRU", "ESCOLA CLASSE COMUNIDADE DE APRENDIZAGEM DO PARANOÁ", "ESCOLA CLASSE CORA CORALINA", "ESCOLA CLASSE ITAPETI", "ESCOLA CLASSE LAMARÃO", "ESCOLA CLASSE NATUREZA", "ESCOLA CLASSE QUEBRADA DOS NÉRIS", "ESCOLA CLASSE SOBRADINHO DOS MELOS", "ESCOLA CLASSE SUSSUARANA", "ESCOLA CLASSE05 DO PARANOÁ", "INSTITUTO EDUCACIONAL SÃO JUDAS TADEU", "TIA NAIR PARANOÁ"];

                escolasParanoa.forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "Planaltina / Arapoanga") {
                // Se o Planaltina / Arapoanga for selecionada, preencher com escolas de Planaltina / Arapoanga
                var escolasPlanaltina = ["Selecione uma Escola", "CAIC ASSIS CHATEAUBRIAND", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CANÁRIO DA TER", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JATOBÁ", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PEQUIZEIRO", "CENTRO DE EDUCAÇAO INFANTIL 01 DE PLANALTINA", "CENTRO DE EDUCAÇÃO INFANTIL 02 DE PLANALTINA", "CENTRO DE EDUCAÇÃO PROFISSIONAL-ESCOLA TÉCNICA DE PLAN", "CENTRO DE EDUCACIONAL 03 DE PLANALTINA", "CENTRO DE EDUCACIONAL DONA AMERICA GUIMARÃES", "CENTRO DE EDUCACIONAL ESTÂNCIA III", "CENTRO DE EDUCACIONAL OSORIO BACCHIN", "CENTRO DE EDUCACIONAL PIPIRIPAU II", "CENTRO DE EDUCACIONAL POMPÍLIO MARQUES DE SOUZA", "CENTRO DE EDUCACIONAL STELLA DOS CHERUBINS GUIMARÃES TROIS", "CENTRO DE EDUCACIONAL TAQUARA", "CENTRO DE ENSINO ESPECIAL 01 DE PLANALTINA", "CENTRO DE ENSINO FUNDAMENTAL 01 DE PLANALTINA", "CENTRO DE ENSINO FUNDAMENTAL 02 DE PLANALTINA", "CENTRO DE ENSINO FUNDAMENTAL 02 DO ARAPOANGA", "CENTRO DE ENSINO FUNDAMENTAL 03 DE PLANALTINA", "CENTRO DE ENSINO FUNDAMENTAL 04 DE PLANALTINA", "CENTRO DE ENSINO FUNDAMENTAL 08 DE PLANALTINA", "CENTRO DE ENSINO FUNDAMENTAL ARAPOANGA", "CENTRO DE ENSINO FUNDAMENTAL BONSUCESSO", "CENTRO DE ENSINO FUNDAMENTAL CERÂMICAS REUNIDAS DOM BOSCO", "CENTRO DE ENSINO FUNDAMENTAL JUSCELINO KUBITSCHEK", "CENTRO DE ENSINO FUNDAMENTAL NOSSA SENHORA DE FÁTIMA", "CENTRO DE ENSINO FUNDAMENTAL RIO PRETO", "CENTRO DE ENSINO FUNDAMENTAL SÃO JOSÉ", "CENTRO DE ENSINO MÉDIO 01 DE PLANALTINA", "CENTRO DE ENSINO MÉDIO 02 DE PLANALTINA", "CENTRO EDUCACIONAL VALE DO AMANHESCOLA CLASSEER", "CENTRO EDUCACIONAL VÁRZEAS", "CENTRO INTERESCOLAR DE LINGUAS 01 DE PLANALTINA", "CRECHE IRMÃ DULCE", "CRECHE MAGIA DOS SONHOS", "ESCOLA CLASSE 01 DE PLANALTINA", "ESCOLA CLASSE 01 DO ARAPOANGA", "ESCOLA CLASSE 03 DE PLANALTINA", "ESCOLA CLASSE 04 DE PLANALTINA", "ESCOLA CLASSE 05 DE PLANALTINA", "ESCOLA CLASSE 06 DE PLANALTINA", "ESCOLA CLASSE 07 DE PLANALTINA", "ESCOLA CLASSE 09 DE PLANALTINA", "ESCOLA CLASSE 10 DE PLANALTINA", "ESCOLA CLASSE 13 DE PLANALTINA", "ESCOLA CLASSE 14 DE PLANALTINA", "ESCOLA CLASSE 15 PLANALTINA", "ESCOLA CLASSE ALTA - MIR", "ESCOLA CLASSE APRODARMAS", "ESCOLA CLASSE BARRA ALTA", "ESCOLA CLASSE COPERBRAS", "ESCOLA CLASSE CÓRREGO DO MEIO", "ESCOLA CLASSE ESTÂNCIA DO PIPIRIPAU", "ESCOLA CLASSE ESTÂNCIA DE PLANALTINA", "ESCOLA CLASSE ETA 44", "ESCOLA CLASSE FRIGORÍFICO INDUSTRIAL", "ESCOLA CLASSE MESTRE D ARMAS", "ESCOLA CLASSE MONJOLO", "ESCOLA CLASSE NÚCLEO RURAL CÓRREGO DO ATOLEIRO", "ESCOLA CLASSE PALMEIRAS", "ESCOLA CLASSE PARANÁ", "ESCOLA CLASSE PEDRA FUNDAMENTAL", "ESCOLA CLASSE RAJADINHA", "ESCOLA CLASSE REINO DAS FLORES", "ESCOLA CLASSE SANTOS DUMONT", "ESCOLA CLASSE VALE DO SOL", "ESCOLA CLASSE VALE VERDE", "ESCOLA CLASSE16 DE PLANALTINA", "INST SÃO VICENTE DE PAULO", "JARDIM DE INFÂNCIA CASA DE VIVÊNCIA"];

                escolasPlanaltina.forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "Plano Piloto / Cruzeiro / Jardim Botânico / Lago Norte / Varjão") {
                // Se o Plano Piloto / Cruzeiro / Jardim Botânico / Lago Norte / Varjão for selecionada, preencher com escolas de Plano Piloto / Cruzeiro / Jardim Botânico / Lago Norte / Varjão
                var escolasPlanopiloto = ["Selecione uma Escola", "AÇÃO SOCIAL PAULA FRASSINETTI", "ASSOC DE MAES PAIS AMIGOS REABILITADORES DE EXCESCOLA PARQUE - AMP", "ASSOC DE PAIS E AMIGOS DOS EXCESCOLA PARQUE - APAE-DF", "ASSOC PESTALOZZI DE BRASILIA", "ASSOCIAÇÃO CRUZ DE MALTA", "CASA DA CRIANÇA PÃO DE SANTO ANTÔNIO", "CASA DE ISMAEL - LAR DA CRIANÇA", "CEJA ASA SUL - CESAS", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CAJUZINHO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA GAVIÃO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JACARANDÁ", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA OLHOS D AGUA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PERDIZ", "CENTRO DE EDUCAÇÃO DE JOVENS E ADULTOS E EDUCAÇÃO PROFISSIONAL", "CENTRO DE EDUCAÇÃO INFANTIL 01 DE BRASÍLIA", "CENTRO DE EDUCAÇÃO INFANTIL 316 NORTE", "CENTRO DE EDUCACIONAL 01 DE BRASÍLIA", "CENTRO DE EDUCACIONAL DA AUDICAO E LINGUAGEM LUDOVICO PAVONI - CEAL", "CENTRO DE EDUCACIONAL DO LAGO NORTE", "CENTRO DE EDUCACIONAL DO LAGO", "CENTRO DE ENSINO ESPECIAL 01 DE BRASILIA", "CENTRO DE ENSINO ESPECIAL 02 DE BRASÍLIA", "CENTRO DE ENSINO ESPECIAL DE DEFICIENTES VISUAIS", "CENTRO DE ENSINO FUNDAMENTAL 01 DO CRUZEIRO", "CENTRO DE ENSINO FUNDAMENTAL 01 DE BRASÍLIA", "CENTRO DE ENSINO FUNDAMENTAL 01 DO LAGO NORTE", "CENTRO DE ENSINO FUNDAMENTAL 01 DO PLANALTO", "CENTRO DE ENSINO FUNDAMENTAL 01 DO VARJÃO", "CENTRO DE ENSINO FUNDAMENTAL 02 DE BRASÍLIA", "CENTRO DE ENSINO FUNDAMENTAL 03 DE BRASÍLIA", "CENTRO DE ENSINO FUNDAMENTAL 04 DE BRASÍLIA", "CENTRO DE ENSINO FUNDAMENTAL 05 DE BRASILIA", "CENTRO DE ENSINO FUNDAMENTAL 06 DE BRASÍLIA", "CENTRO DE ENSINO FUNDAMENTAL 07 DE BRASÍLIA", "CENTRO DE ENSINO FUNDAMENTAL 102 NORTE", "CENTRO DE ENSINO FUNDAMENTAL 104 NORTE", "CENTRO DE ENSINO FUNDAMENTAL 214 SUL", "CENTRO DE ENSINO FUNDAMENTAL 306 NORTE", "CENTRO DE ENSINO FUNDAMENTAL 405 SUL", "CENTRO DE ENSINO FUNDAMENTAL 410 NORTE", "CENTRO DE ENSINO FUNDAMENTAL ATHOS BULCÃO", "CENTRO DE ENSINO FUNDAMENTAL CASEB", "CENTRO DE ENSINO FUNDAMENTAL GAN", "CENTRO DE ENSINO FUNDAMENTAL POLIVALENTE", "CENTRO DE ENSINO MÉDIO ASA NORTE - CEAN", "CENTRO DE ENSINO MÉDIO ELEFANTE BRANCO", "CENTRO DE ENSINO MÉDIO INTEGRADO DO CRUZEIRO", "CENTRO DE ENSINO MÉDIO PAULO FREIRE", "CENTRO DE ENSINO MÉDIO SETOR LESTE", "CENTRO DE ENSINO MÉDIO SETOR OESTE", "CENTRO EDUCACIONAL 02 DO CRUZEIRO", "CENTRO EDUCACIONAL GISNO", "CENTRO INTERESCOLAR DE LINGUAS 01 DE BRASILIA", "CENTRO INTERESCOLAR DE LINGUAS 02 DE BRASILIA", "CENTRO SOCIAL COMUNITÁRIO TIA ANGELINA", "CESCOLA PARQUE - ESC DE MUSICA DE BRASILIA", "CIEF - C INTEGRADO DE EDUC FISICA", "CRECHECRUZ DE MALTA NOSSA SENHORA DO FILERMO", "CRESCOLA CLASSEHE CASA DO PEQUENO POLEGAR", "CRESCOLA CLASSEHE PIONEIRA DA VILA PLANALTO", "CRESCOLA CLASSEHE SÃO VICENTE DE PAULO", "ESCOLA CLASSE 01 SHI - SUL", "ESCOLA CLASSE 04 DO CRUZEIRO", "ESCOLA CLASSE 05 DO CRUZEIRO", "ESCOLA CLASSE 06 DO CRUZEIRO", "ESCOLA CLASSE 08 DO CRUZEIRO", "ESCOLA CLASSE 102 SUL", "ESCOLA CLASSE 106 NORTE", "ESCOLA CLASSE 108 SUL", "ESCOLA CLASSE 111 SUL", "ESCOLA CLASSE 113 NORTE", "ESCOLA CLASSE 114 SUL", "ESCOLA CLASSE 115 NORTE", "ESCOLA CLASSE 204 SUL", "ESCOLA CLASSE 206 SUL", "ESCOLA CLASSE 209 SUL", "ESCOLA CLASSE 302 NORTE", "ESCOLA CLASSE 304 NORTE", "ESCOLA CLASSE 304 SUL", "ESCOLA CLASSE 305 SUL", "ESCOLA CLASSE 308 SUL", "ESCOLA CLASSE 312 NORTE", "ESCOLA CLASSE 314 SUL", "ESCOLA CLASSE 316 SUL", "ESCOLA CLASSE 403 NORTE", "ESCOLA CLASSE 405 NORTE", "ESCOLA CLASSE 407 NORTE", "ESCOLA CLASSE 410 SUL", "ESCOLA CLASSE 411 NORTE", "ESCOLA CLASSE 413 SUL", "ESCOLA CLASSE 415 NORTE", "ESCOLA CLASSE 416 SUL", "ESCOLA CLASSE 708 NORTE", "ESCOLA CLASSE ASPALHA", "ESCOLA CLASSE DA VILA DO REGIMENTO DE CAVALARIA DE GUARDA", "ESCOLA CLASSE DO SETOR MILITAR URBANO", "ESCOLA CLASSE GRANJA DO TORTO", "ESCOLA CLASSE JARDIM BOTÂNICO", "ESCOLA DA NATUREZA", "ESCOLA DO PARQUE DA CIDADE - PROEM", "ESCOLA MENINOS E MENINAS DO PARQUE", "ESCOLA PARQUE 210-211 NORTE", "ESCOLA PARQUE 210-211 SUL", "ESCOLA PARQUE 303-304 NORTE", "ESCOLA PARQUE 307-308 SUL", "ESCOLA PARQUE 313-314 SUL", "GRUPO DA FRATERNIDADE CÍCERO PEREIRA", "JARDIM DE INFÂNCIA 01 DO CRUZEIRO", "JARDIM DE INFÂNCIA 02 DO CRUZEIRO", "JARDIM DE INFÂNCIA 102 SUL", "JARDIM DE INFÂNCIA 106 NORTE", "JARDIM DE INFÂNCIA 108 SUL", "JARDIM DE INFÂNCIA 114 SUL", "JARDIM DE INFÂNCIA 208 SUL", "JARDIM DE INFÂNCIA 21 DE ABRIL", "JARDIM DE INFÂNCIA 302 NORTE", "JARDIM DE INFÂNCIA 303 SUL", "JARDIM DE INFÂNCIA 304 NORTE", "JARDIM DE INFÂNCIA 305 SUL", "JARDIM DE INFÂNCIA 308 SUL", "JARDIM DE INFÂNCIA 312 NORTE", "JARDIM DE INFÂNCIA 314 SUL", "JARDIM DE INFÂNCIA 316 SUL", "JARDIM DE INFÂNCIA 404 NORTE", "JARDIM DE INFÂNCIA CASA DO CANDANGO", "JARDIM DE INFÂNCIA VI COMAR"];

                escolasPlanopiloto.forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "Recanto das Emas") {
                // Se o Recanto das Emas for selecionada, preencher com escolas de Recanto das Emas
                var escolasRecantodasemas = ["Selecione uma Escola", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ARARA-CANINDE", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA BEIJA-FLOR", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PINHEIRINHO ROXO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA QUERO-QUERO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA SABIA-DO-CAMPO", "CENTRO DE EDUCAÇÃO INFANTIL 304 DO RECANTO DAS EMAS", "CENTRO DE EDUCAÇÃO INFANTIL 310 DO RECANTO DAS EMAS", "CENTRO DE EDUCAÇÃO INFANTIL BURITIZINHO", "CENTRO DE EDUCACIONAL 104 DO RECANTO DAS EMAS", "CENTRO DE EDUCACIONAL MYRIAM ERVILHA", "CENTRO DE ENSINO FUNDAMENTAL 101 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 106 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 113 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 115 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 206 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 301 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 306 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 405 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 602 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 801 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 802 DO RECANTO DAS EMAS", "CENTRO DE ENSINO MÉDIO 111 DO RECANTO DAS EMAS", "CENTRO DE ENSINO MÉDIO 804 DO RECANTO DAS EMAS", "CENTRO EDUCACIONAL 308 DO RECANTO DAS EMAS", "CENTRO INTERESCOLAR DE LINGUAS 01 DO RECANTO DAS EMAS", "ESC DE EDUC INF CORACAO DE CRISTO", "ESCOLA CLASSE 102 DO RECANTO DAS EMAS", "ESCOLA CLASSE 203 DO RECANTO DAS EMAS", "ESCOLA CLASSE 401 DO RECANTO DAS EMAS", "ESCOLA CLASSE 404 DO RECANTO DAS EMAS", "ESCOLA CLASSE 510 DO RECANTO DAS EMAS", "ESCOLA CLASSE 803 DO RECANTO DAS EMAS", "ESCOLA CLASSE VILA BURITIS", "JARDIM DE INFÂNCIA 603 DO RECANTO DAS EMAS", "PRO-VIDA CENTRO DE EDUCAÇÃO INFANTIL"];

                escolasRecantodasemas.forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "Samambaia") {
                // Se o Samambaia for selecionada, preencher com escolas de Samambaia
                var escolasSamambaia = ["Selecione uma Escola", "AFMA- AÇÃO SOCIAL COMUNITÁRIA", "ASS. BENEF. EVANG. - CRESCOLA CLASSEHE PR FRANCISCO MIRANDA", "ASSOCIAÇÃO MARIA DE NAZARÉ", "ASSOCIAÇÃO NOSSA SENHORA MÃE DOS HOMENS", "CAIC AYRTON SENNA", "CAIC HELENA REIS", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ALGODAO -DO-CERRADO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ANDORINHA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ANGICO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA AZULÃO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA BAMBU", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA BEM-TE-VI", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CALIANDRA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CAPIM ESTRELA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CUTIA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA IPÊ- ROSA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA IPÊ ROXO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JABUTI", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JURITI", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA MANDACARU", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA MANGABEIRA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ONÇA PINTADA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PAINEIRA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PERIQUITO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PICA-PAU BRANCO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA RAPOSA- DO- CERRADO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA SUCUPIRA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA TAMANDUA BANDEIRA", "CENTRO DE EDUCAÇÃO INFANTIL 210 DE SAMAMBAIA", "CENTRO DE EDUCAÇÃO INFANTIL 307 DE SAMAMBAIA", "CENTRO DE ENSINO ESPECIAL 01 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 120 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 312 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 404 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 407 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 411 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 412 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 427 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 504 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 507 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 519 DE SAMAMBAIA", "CENTRO DE ENSINO MÉDIO 304 DE SAMAMBAIA", "CENTRO DE ENSINO MÉDIO 414 DE SAMAMBAIA", "CENTRO EDUCACIONAL 123 DE SAMAMBAIA", "CENTRO EDUCACIONAL 619 DE SAMAMBAIA", "CENTRO INTERESCOLAR DE LINGUAS 01 DE SAMAMBAIA", "ESCOLA CLASSE 108 DE SAMAMBAIA", "ESCOLA CLASSE 111 DE SAMAMBAIA", "ESCOLA CLASSE 121 DE SAMAMBAIA", "ESCOLA CLASSE 303 DE SAMAMBAIA", "ESCOLA CLASSE 317 DE SAMAMBAIA", "ESCOLA CLASSE 318 DE SAMAMBAIA", "ESCOLA CLASSE 325 DE SAMAMBAIA", "ESCOLA CLASSE 403 DE SAMAMBAIA", "ESCOLA CLASSE 410 DE SAMAMBAIA", "ESCOLA CLASSE 415 DE SAMAMBAIA", "ESCOLA CLASSE 419 DE SAMAMBAIA", "ESCOLA CLASSE 425 DE SAMAMBAIA", "ESCOLA CLASSE 431 DE SAMAMBAIA", "ESCOLA CLASSE 501 DE SAMAMBAIA", "ESCOLA CLASSE 502 SAMAMBAIA", "ESCOLA CLASSE 510 DE SAMAMBAIA", "ESCOLA CLASSE 511 DE SAMAMBAIA", "ESCOLA CLASSE 512 DE SAMAMBAIA", "ESCOLA CLASSE 604 DE SAMAMBAIA", "ESCOLA CLASSE 614 DE SAMAMBAIA", "ESCOLA CLASSE 831 DE SAMAMBAIA", "ESCOLA CLASSE GUARIROBA", "LAR ASSISTENCIAL MARIA DE NAZARÉ - CRESCOLA CLASSEHE LAR DE MARIA", "PROJETO SÓCIO EDUCATIVO SANTA LUZIA", "SOCIEDADE ESPÍRITA DE EDUCAÇÃO - SEMENTE LUZ"];

                escolasSamambaia.forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "Santa Maria") {
                // Se o Santa Maria for selecionada, preencher com escolas de Santa Maria
                var escolasSantamaria = ["Selecione uma Escola", "CAIC ALBERT SABIN", "CAIC SANTA MARIA", "CENTRO DE CONVIVÊNCIA E EDUCAÇÃO INFANTIL MARIA MÃE DA PROVIDÊNCIA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ANGELINS", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ARARAUANA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA BURITI", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CORUJINHA DO CERRADO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CURIO", "CENTRO DE EDUCAÇÃO INFANTIL 203 DE SANTA MARIA", "CENTRO DE EDUCAÇÃO INFANTIL 210 DE SANTA MARIA", "CENTRO DE EDUCAÇÃO INFANTIL 416-516 DE SANTA MARIA", "CENTRO DE EDUCACIONAL 310 DE SANTA MARIA", "CENTRO DE EDUCACIONAL 416 DE SANTA MARIA", "CENTRO DE ENSINO ESPECIAL 01 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 103 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 201 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 209 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 213 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 308 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 316 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 403 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 418 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL SANTOS DUMONT", "CENTRO DE ENSINO FUNDAMENTAL SARGENTO LIMA", "CENTRO DE ENSINO MÉDIO 404 DE SANTA MARIA", "CENTRO DE ENSINO MÉDIO 417 DE SANTA MARIA", "CENTRO INTERESCOLAR DE LINGUAS 01 DE SANTA MARIA", "ESCOLA CLASSE 01 DO PORTO RICO", "ESCOLA CLASSE 100 de Santa Maria", "ESCOLA CLASSE 116 DE SANTA MARIA", "ESCOLA CLASSE 203 DE SANTA MARIA", "ESCOLA CLASSE 206 DE SANTA MARIA", "ESCOLA CLASSE 215 DE SANTA MARIA", "ESCOLA CLASSE 218 DE SANTA MARIA", "JARDIM DE INFÂNCIA 116 DE SANTA MARIA", "OBRAS ASSISTENCIAIS PADRE NATALE BATTEZZI - CENTRO DE CO"];

                escolasSantamaria.forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "São Sebastião") {
                // Se o São Sebastião for selecionada, preencher com escolas de São Sebastião
                var escolasSaosebastiao = ["Selecione uma Escola", "CAIC UNESCO", "CENTRO DE EDUCAÇÃO INFANTIL 01 DE SÃO SEBASTIÃO", "CENTRO DE EDUCAÇÃO INFANTIL 03 DE SÃO SEBASTIÃO", "CENTRO DE EDUCAÇÃO INFANTIL 04 SÃO SEBASTIÃO", "CENTRO DE EDUCAÇÃO INFANTIL 05 DE SÃO SEBASTIÃO", "CENTRO DE EDUCACIONAL SAO BARTOLOMEU", "CENTRO DE EDUCACIONAL SÃO FRANCISCO", "CENTRO DE ENSINO FUNDAMENTAL CERAMICA SÃO PAULO", "CENTRO DE ENSINO FUNDAMENTAL DO BOSQUE", "CENTRO DE ENSINO FUNDAMENTAL JATAÍ", "CENTRO DE ENSINO FUNDAMENTAL MIGUEL ARCANJO", "CENTRO DE ENSINO FUNDAMENTAL NOVA BETÂNIA", "CENTRO DE ENSINO MÉDIO 01 DE SÃO SEBASTIÃO", "CENTRO EDUCACIONAL SÃO JOSÉ", "CENTRO INTERESCOLAR DE LINGUAS 01 DE SÃO SEBASTIÃO", "CRECHE BEM ME QUER", "ESCOLA CLASSE 104 DE SÃO SEBASTIÃO", "ESCOLA CLASSE 303 DE SÃO SEBASTIÃO", "ESCOLA CLASSE AGROVILA SÃO SEBASTIÃO", "ESCOLA CLASSE AGUILHADA", "ESCOLA CLASSE BELA VISTA", "ESCOLA CLASSE CACHOEIRINHA", "ESCOLA CLASSE CERÂMICA DA BENÇÃO", "ESCOLA CLASSE DOM BOSCO", "ESCOLA CLASSE SÃO BARTOLOMEU", "ESCOLA CLASSE VILA DO BOA", "ESCOLA CLASSE VILA NOVA", "INST. EDUCACIONAL DOM LEOLINO E IRMÃ CESCOLA CLASSEÍLIA LUVIZOTTO"];

                escolasSaosebastiao.forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "Sobradinho / Sobradinho II / Fercal") {
                // Se o Sobradinho / Sobradinho II / Fercal for selecionada, preencher com escolas de Sobradinho / Sobradinho II / Fercal
                var escolasSobradinho = ["Selecione uma Escola", "CAIC JÚLIA KUBITSCHEK DE OLIVEIRA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JOÃO DE BARRO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ARAÇÁ-MIRIM", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CANELA-DE-E", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA FLOR DE LIS", "CENTRO DE EDUCAÇÃO INFANTIL 01 DE SOBRADINHO", "CENTRO DE EDUCAÇÃO INFANTIL 02 DE SOBRADINHO", "CENTRO DE EDUCAÇÃO INFANTIL 03 DE SOBRADINHO", "CENTRO DE EDUCAÇÃO INFANTIL 04 DE SOBRADINHO", "CENTRO DE EDUCACIONAL 02 DE SOBRADINHO", "CENTRO DE EDUCACIONAL FERCAL", "CENTRO DE EDUCACIONAL PROF CARLOS RAMOS MOTA", "CENTRO DE ENSINO ESPECIAL 01 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 01 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 04 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 05 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 07 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 08 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 09 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 3 03 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL QUEIMA LENÇOL", "CENTRO DE ENSINO MÉDIO 01 DE SOBRADINHO", "CENTRO EDUCACIONAL 03 DE SOBRADINHO", "CENTRO EDUCACIONAL 04 DE SOBRADINHO", "CENTRO INTERESCOLAR DE LINGUAS DE SOBRADINHO", "COL ALLAN KARDEC", "ESCOLA CLASSE 01 DE SOBRADINHO", "ESCOLA CLASSE 04 DE SOBRADINHO", "ESCOLA CLASSE 05 DE SOBRADINHO", "ESCOLA CLASSE 10 DE SOBRADINHO", "ESCOLA CLASSE 11 DE SOBRADINHO", "ESCOLA CLASSE 12 DE SOBRADINHO", "ESCOLA CLASSE 13 DE SOBRADINHO", "ESCOLA CLASSE 14 DE SOBRADINHO", "ESCOLA CLASSE 15 DE SOBRADINHO", "ESCOLA CLASSE 16 DE SOBRADINHO", "ESCOLA CLASSE 17 DE SOBRADINHO", "ESCOLA CLASSE BASEVI", "ESCOLA CLASSE BOA VISTA", "ESCOLA CLASSE BROCHADO DA ROCHA", "ESCOLA CLASSE CATINGUEIRO", "ESCOLA CLASSE CÓRREGO DO ARROZAL", "ESCOLA CLASSE CÓRREGO DO OURO", "ESCOLA CLASSE ENGENHO VELHO", "ESCOLA CLASSE LOBEIRAL", "ESCOLA CLASSE MORRO DO SANSÃO", "ESCOLA CLASSE OLHOS D ÁGUA", "ESCOLA CLASSE RIBEIRÃO", "ESCOLA CLASSE RUA DO MATO", "ESCOLA CLASSE SANTA HELENA", "ESCOLA CLASSE SÍTIO DAS ARAUCÁRIAS", "ESCOLA CLASSE SONHÉM DE CIMA", "IE PINTANDO O SETE", "INSTITUTO VITÓRIA RÉGIA PARA O DESENVOLVIMENTO HUMANO"];

                escolasSobradinho.forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else if (regiaoSelecionada === "Taguatinga / Águas Claras / Arniqueira / Vicente Pires") {
                // Se o Taguatinga / Águas Claras / Arniqueira / Vicente Pires for selecionada, preencher com escolas de Taguatinga / Águas Claras / Arniqueira / Vicente Pires
                var escolasTaguatinga = ["Selecione uma Escola", "ASSOC DE PAIS E AMIGOS EXCESCOLA PARQUE E DEFICIENTES - APAED", "CAIC PROF WALTER JOSÉ DE MOURA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JEQUITIBÁ", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA MACAÚBA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ROSA DO CERRADO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA SABIA LARANJEIRA", "CENTRO DE EDUCAÇÃO INFANTIL 01 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 02 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 03 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 04 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 05 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 06 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 07 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 08 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL ÁGUAS CLARAS", "CENTRO DE EDUCACIONAL 05 DE TAGUATINGA", "CENTRO DE EDUCACIONAL 02 DE TAGUATINGA", "CENTRO DE EDUCACIONAL 04 DE TAGUATINGA", "CENTRO DE EDUCACIONAL 06 DE TAGUATINGA", "CENTRO DE EDUCACIONAL 07 DE TAGUATINGA", "CENTRO DE ENSINO ESPECIAL 01 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 15 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL VILA AREAL", "CENTRO DE ENSINO FUNDAMENTAL 03 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 04 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 05 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 08 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 09 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 10 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 11 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 12 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 14 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 16 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 17 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 19 DE TAGUATINGA", "CENTRO DE ENSINO MÉDIO 03 DE TAGUATINGA", "CENTRO DE ENSINO MÉDIO AVE BRANCA", "CENTRO DE ENSINO MÉDIO ESCOLA INDUSTRIAL DE TAGUATINGA - EIT", "CENTRO DE ENSINO MÉDIO TAGUATINGA NORTE", "CENTRO INTERESCOLAR DE LINGUAS DE TAGUATINGA", "CENTRO INTERESCOLAR DE LINGUAS DE TAGUATINGA", "CESCOLA PARQUE - ESCOLA CLASSE NICA DE BRASÍLIA", "CRECHE- CANTINHO DA PAZ", "ESCOLA BILÍNGUE LIBRAS E PORTUGUÊS ESCRITO DE TAGUATINGA", "ESCOLA CLASSE 18 DE TAGUATINGA", "ESCOLA CLASSE 54 DE TAGUATINGA", "ESCOLA CLASSE 01 DE TAGUATINGA", "ESCOLA CLASSE 02 DE VICENTE PIRES", "ESCOLA CLASSE 06 DE TAGUATINGA", "ESCOLA CLASSE 08 DE TAGUATINGA", "ESCOLA CLASSE 10", "ESCOLA CLASSE 11 DE TAGUATINGA", "ESCOLA CLASSE 12 DE TAGUATINGA", "ESCOLA CLASSE 13,", "ESCOLA CLASSE 15 DE TAGUATINGA", "ESCOLA CLASSE 16 DE TAGUATINGA", "ESCOLA CLASSE 17 DE TAGUATINGA", "ESCOLA CLASSE 19 DE TAGUATINGA", "ESCOLA CLASSE 27 DE TAGUATINGA", "ESCOLA CLASSE 29 DE TAGUATINGA", "ESCOLA CLASSE 39 DE TAGUATINGA", "ESCOLA CLASSE 41 DE TAGUATINGA", "ESCOLA CLASSE 42 DE TAGUATINGA", "ESCOLA CLASSE 45 DE TAGUATINGA", "ESCOLA CLASSE 46 DE TAGUATINGA", "ESCOLA CLASSE 50 DE TAGUATINGA", "ESCOLA CLASSE 52 DE TAGUATINGA", "ESCOLA CLASSE 53 DE TAGUATINGA", "ESCOLA CLASSE 55 DE TAGUATINGA", "ESCOLA CLASSE ARNIQUEIRA", "ESCOLA CLASSE COLÔNIA AGRÍCOLA VICENTE PIRES", "LAR DA CRIANÇA PADRE CÍCERO - CENTRO DE EDUCAÇÃO INFANTILSC UNIDADE I/II", "SOCIEDADE DO AMOR EM AÇÃO - ESCOLA FLOR DE LIS", "SOCIEDADE DO AMOR EM AÇÃO - ESCOLINHA BEIJA FLOR", "SOCIEDADE ESPÍRITA DE AMPARO AO MENOR CASA DO CAMINH"];

                escolasTaguatinga.forEach(function(escola) {
                    var option = document.createElement("option");
                    option.value = escola;
                    option.text = escola;
                    segundoSelect.appendChild(option);
                });
            } else {
                var option = document.createElement("option");
                option.value = "selecione";
                option.text = "Selecione uma Escola";
                segundoSelect.appendChild(option);
            }
          }
        </script>
      </div>
<div class="form-group">
    <label for="grau_instrucao">Grau de instrução:</label>
    <select class="form-control" id="grau_instrucao" name="grau_instrucao" onchange="carregarSeriesAno()">
              <option value="selecione">Selecione o Grau de Instrução...</option>
                <option value="Educação Infantil">Educação Infantil</option>
                <option value="Ensino Fundamental">Ensino Fundamental</option>
                <option value="Ensino Médio">Ensino Médio</option>
                <option value="Educação de Jovens e Adultos">Educação de Jovens e Adultos</option>
                <option value="Educação Profissional">Educação Profissional</option>
                <option value="Educação Especial">Educação Especial</option>
    </select>
</div>

<div class="form-group">
    <label for="serie_ano">Série/ Ano:</label>
    <select class="form-control" id="serie_ano" name="serie_ano" placeholder="Selecione em qual série / ano está o aluno..." required>
        <option value="selecione">Selecione a Série/Ano...</option>
        <!-- As opções serão preenchidas dinamicamente aqui -->
    </select>
</div>

<script>
    function carregarSeriesAno() {
        var grauInstrucaoSelect = document.getElementById("grau_instrucao");
        var serieAnoSelect = document.getElementById("serie_ano");

        var grauSelecionado = grauInstrucaoSelect.value;

        // Limpar o select de Série/Ano
        serieAnoSelect.innerHTML = "<option value='selecione'>Selecione a Série/Ano...</option>";

        if (grauSelecionado === "Educação Infantil") {
            // Preencher o select com opções de Educação Infantil
            var opcoes = ["1º Período - Educação Infantil", "2º Período - Educação Infantil"];
            opcoes.forEach(function (opcao) {
                var option = document.createElement("option");
                option.value = opcao;
                option.text = opcao;
                serieAnoSelect.appendChild(option);
            });
        } else if (grauSelecionado === "Ensino Fundamental") {
            // Preencher o select com opções de Ensino Fundamental
                        var opcoes = ["1ª Série - Ensino Fundamental", "2ª Série - Ensino Fundamental", "3ª Série - Ensino Fundamental", "4ª Série - Ensino Fundamental", "5ª Série - Ensino Fundamental", "6ª Série - Ensino Fundamental", "7ª Série - Ensino Fundamental", "8ª Série - Ensino Fundamental", "9ª Série - Ensino Fundamental",];
            opcoes.forEach(function (opcao) {
                var option = document.createElement("option");
                option.value = opcao;
                option.text = opcao;
                serieAnoSelect.appendChild(option);
            });
                } else if (grauSelecionado === "Ensino Médio") {
            // Preencher o select com opções de Ensino Fundamental
            var opcoes = ["1º Ano - Ensino Médio", "2º Ano - Ensino Médio", "3º Ano - Ensino Médio"];
            opcoes.forEach(function (opcao) {
                var option = document.createElement("option");
                option.value = opcao;
                option.text = opcao;
                serieAnoSelect.appendChild(option);
            });
                } else if (grauSelecionado === "Educação de Jovens e Adultos") {
            // Preencher o select com opções de Ensino Fundamental
            var opcoes = ["EJA (Ensino Fundamental)", "EJA (Ensino Médio)"];
            opcoes.forEach(function (opcao) {
                var option = document.createElement("option");
                option.value = opcao;
                option.text = opcao;
                serieAnoSelect.appendChild(option);
            });
                } else if (grauSelecionado === "Educação Profissional") {
            // Preencher o select com opções de Ensino Fundamental
            var opcoes = ["1º Ano - Educação Profissional", "2º Ano - Educação Profissional", "3º Ano - Educação Profissional"];
            opcoes.forEach(function (opcao) {
                var option = document.createElement("option");
                option.value = opcao;
                option.text = opcao;
                serieAnoSelect.appendChild(option);
            });
                } else if (grauSelecionado === "Educação Especial") {
            // Preencher o select com opções de Ensino Fundamental
            var opcoes = ["1ª Etapa - Educação Especial", "2ª Etapa - Educação Especial", "3ª Etapa - Educação Especial", "4ª Etapa - Educação Especial"];
            opcoes.forEach(function (opcao) {
                var option = document.createElement("option");
                option.value = opcao;
                option.text = opcao;
                serieAnoSelect.appendChild(option);
            });
        }
    }
</script>

        <div class="form-group">
          <label for="turno_origem">Turno:</label>
            <select type="text" class="form-control" id="turno_origem" name="turno_origem" placeholder="Selecione o turno" required>
              <option value="selecione">Selecione o Turno...</option> 
                <option value="Matutino">Matutino</option>
                <option value="Vespertino">Vespertino</option>
                <option value="Noturno">Noturno</option>
          </select>
        </div>

        <h2>Preencha os dados da vaga de destino (desejada):</h2>

    
        <div class="form-group">
           <label for="primeiroSelect2">Região Administrativa:</label>
            <select class="form-control" id="primeiroSelect2" name="regiao_destino" onchange="carregarEscolas2()">
                <option value="selecione">Selecione a Região Administrativa</option>
                <option value="Brazlândia">Brazlândia
                <option value="Ceilândia / Sol Nascente / Pôr do Sol">Ceilândia / Sol Nascente / Pôr do Sol
                <option value="Gama">Gama
                <option value="Guará / SCIA / Estrutural">Guará / SCIA / Estrutural
                <option value="Núcleo Bandeirante / Candangolândia / Riacho Fundo I e II">Núcleo Bandeirante / Candangolândia / Riacho Fundo I e II
                <option value="Paranoá / Itapoã">Paranoá / Itapoã
                <option value="Planaltina / Arapoanga">Planaltina / Arapoanga
                <option value="Plano Piloto / Cruzeiro / Jardim Botânico / Lago Norte / Varjão">Plano Piloto / Cruzeiro / Jardim Botânico / Lago Norte / Varjão
                <option value="Recanto das Emas">Recanto das Emas
                <option value="Samambaia">Samambaia
                <option value="Santa Maria">Santa Maria
                <option value="São Sebastião">São Sebastião
                <option value="Sobradinho / Sobradinho II / Fercal">Sobradinho / Sobradinho II / Fercal
                <option value="Taguatinga / Águas Claras / Arniqueira / Vicente Pires">Taguatinga / Águas Claras / Arniqueira / Vicente Pires
        </select>
      </div>
    
     <div class="form-group">
        <label for="segundoSelect2">Escola:</label>
        <select class="form-control" id="segundoSelect2" name="escola_destino">
            <option value="selecione">Selecione uma Região Primeiro</option>
        </select>

        <script>
          function carregarEscolas2() {
            var primeiroSelect2 = document.getElementById("primeiroSelect2");
            var segundoSelect2 = document.getElementById("segundoSelect2");

            var regiaoSelecionada2 = primeiroSelect2.value;

            // Limpar o segundo select
            segundoSelect2.innerHTML = "";

            if (regiaoSelecionada2 === "Brazlândia") {
                // Se o Brazlandia for selecionada, preencher com escolas de Brazlandia
                var escolasBrazlandia2  = ["Selecione uma Escola", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA FLAMBOYANT", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA SAGUI", "CENTRO DE EDUCAÇÃO INFANTIL 01 de BRAZLÂNDIA", "CENTRO DE EDUCAÇÃO INFANTIL 02 DE BRAZLÂNDIA", "CENTRO DE EDUCAÇÃO INFANTIL 03 de BRAZLÂNDIA", "CENTRO DE EDUCAÇÃO INFANTIL TIA NAIR", "CENTRO DE EDUCACIONAL INCRA 08", "CENTRO DE EDUCACIONAL IRMÃ MARIA REGINA VELANES REGIS", "CENTRO DE ENSINO ESPECIAL 01 DE BRAZLANDIA", "CENTRO DE ENSINO FUNDAMENTAL 01 de BRAZLÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 02 de BRAZLÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 03 de BRAZLÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL INCRA 07 de BRAZLÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL VENDINHA", "CENTRO DE ENSINO MÉDIO 01 de BRAZLÂNDIA", "CENTRO DE ENSINO MÉDIO 02 de BRAZLÂNDIA", "CENTRO EDUCACIONAL 02 de BRAZLÂNDIA", "CENTRO EDUCACIONAL 04 de BRAZLÂNDIA", "CENTRO INTERESCOLAR DE LINGUAS DE BRAZLANDIA", "ESCOLA CLASSE 01 DE BRAZLANDIA", "ESCOLA CLASSE 01 INCRA 08", "ESCOLA CLASSE 03 DE BRAZLÂNDIA", "ESCOLA CLASSE 05 DE BRAZLÂNDIA", "ESCOLA CLASSE 06 DE BRAZLANDIA", "ESCOLA CLASSE 07 DE BRAZLÂNDIA", "ESCOLA CLASSE 08 DE BRAZLÂNDIA", "ESCOLA CLASSE 09 de BRAZLÂNDIA", "ESCOLA CLASSE ALMESCOLA CLASSEEGAS", "ESCOLA CLASSE BUCANHÃO", "ESCOLA CLASSE CHAPADINHA", "ESCOLA CLASSE INCRA 06", "ESCOLA CLASSE PÓLO AGRÍCOLA DA TORRE", "ESCOLA PARQUE DA NATUREZA DE BRAZLANDIA", "JARDIM DE INFÂNCIA MENINO JESUS", "CAIC PROFESSOR BENEDITO CARLOS DE OLIVEIRA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA AROEIRA"];

                escolasBrazlandia2 .forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "Ceilândia / Sol Nascente / Pôr do Sol") {
                // Se o Ceilândia / Sol Nascente / Pôr do Sol for selecionada, preencher com escolas de Ceilândia / Sol Nascente / Pôr do Sol
                var escolasCeilandia2  = ["Selecione uma Escola", "CAIC BERNARDO SAYAO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CAPIM DOURADO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ESTRELA-DO-CERRADO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA FLOR DE PEQUI", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA IPÊ AMARELO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA IPE-BRANCO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JASMIM", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PAPAGAIO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA SEMPRE VIVA", "CENTRO DE EDUCAÇÃO INFANTIL 01 CEILÂNDIA", "CENTRO DE EDUCACIONAL 06 DE CEILÂNDIA", "CENTRO DE EDUCACIONAL 07 DE CEILÂNDIA", "CENTRO DE EDUCACIONAL 11 DE CEILÂNDIA", "CENTRO DE EDUCACIONAL 14 DE CEILÂNDIA", "CENTRO DE EDUCACIONAL INCRA 09", "CENTRO DE ENSINO ESPECIAL 01 DE CEILÂNDIA", "CENTRO DE ENSINO ESPECIAL 02 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 02 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 04 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 07 de CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 10 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 11 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 12 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 13 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 14 de CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 16 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 18 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 19 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 20 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 25 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 26 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 27 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 28 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 30 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 31 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 32 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 33 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 34 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 35 DE CEILÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL BOA ESPERANÇA", "CENTRO DE ENSINO FUNDAMENTAL PROFA. MARIA DO ROSÁRIO GONDIM", "CENTRO DE ENSINO MÉDIO 02 DE CEILÂNDIA", "CENTRO DE ENSINO MÉDIO 03 DE CEILÂNDIA", "CENTRO DE ENSINO MÉDIO 04 DE CEILÂNDIA", "CENTRO DE ENSINO MÉDIO 09 DE CEILÂNDIA", "CENTRO DE ENSINO MÉDIO 10 DE CEILÂNDIA", "CENTRO DE ENSINO MÉDIO 12 DE CEILÂNDIA", "CENTRO EDUCACIONAL 15 DE CEILÂNDIA", "CENTRO INTERESCOLAR DE LINGUAS DE CEILÂNDIA", "CESC C COMUNITARIO DA CRIANCA", "CESCOLA PARQUE - ESC TÉCNICA DE CEILÂNDIA", "COMUNIDADE EVANGÉLICA CONF LUTERANA GIRASSOL", "ESCOLA CLASSE 01 DE CEILÂNDIA", "ESCOLA CLASSE 02 DE CEILÂNDIA", "ESCOLA CLASSE 08 DE CEILÂNDIA", "ESCOLA CLASSE 10 DE CEILÂNDIA", "ESCOLA CLASSE 11 DE CEILÂNDIA", "ESCOLA CLASSE 12 DE CEILÂNDIA", "ESCOLA CLASSE 13 DE CEILÂNDIA", "ESCOLA CLASSE 15 DE CEILÂNDIA", "ESCOLA CLASSE 16 DE CEILÂNDIA", "ESCOLA CLASSE 17 DE CEILÂNDIA", "ESCOLA CLASSE 18 DE CEILÂNDIA", "ESCOLA CLASSE 19 DE CEILÂNDIA", "ESCOLA CLASSE 20 DE CEILÂNDIA", "ESCOLA CLASSE 21 DE CEILÂNDIA", "ESCOLA CLASSE 22 DE CEILÂNDIA", "ESCOLA CLASSE 24 DA CEILÂNDIA", "ESCOLA CLASSE 25 DE CEILÂNDIA", "ESCOLA CLASSE 26 DE CEILÂNDIA", "ESCOLA CLASSE 27 DE CEILÂNDIA", "ESCOLA CLASSE 28 DE CEILÂNDIA", "ESCOLA CLASSE 29 DE CEILÂNDIA", "ESCOLA CLASSE 31 de CEILÂNDIA", "ESCOLA CLASSE 33 DE CEILÂNDIA", "ESCOLA CLASSE 34 DE CEILÂNDIA", "ESCOLA CLASSE 35 DE CEILÂNDIA", "ESCOLA CLASSE 36 DE CEILÂNDIA", "ESCOLA CLASSE 38 DE CEILÂNDIA", "ESCOLA CLASSE 39 DE CEILÂNDIA", "ESCOLA CLASSE 40 DE CEILÂNDIA", "ESCOLA CLASSE 43 DE CEILÂNDIA", "ESCOLA CLASSE 45 DE CEILÂNDIA", "ESCOLA CLASSE 46 DE CEILÂNDIA", "ESCOLA CLASSE 47 DE CEILÂNDIA", "ESCOLA CLASSE 48 DE CEILÂNDIA", "ESCOLA CLASSE 50 DE CEILÂNDIA", "ESCOLA CLASSE 52 DE CEILÂNDIA", "ESCOLA CLASSE 55 DE CEILÂNDIA", "ESCOLA CLASSE 56 DE CEILÂNDIA", "ESCOLA CLASSE 59 DE CEILÂNDIA", "ESCOLA CLASSE 61 DE CEILÂNDIA", "ESCOLA CLASSE 62 DE CEILÂNDIA", "ESCOLA CLASSE 64 DE CEILÂNDIA", "ESCOLA CLASSE 65 DE CEILÂNDIA", "ESCOLA CLASSE 66 DE CEILÂNDIA", "ESCOLA CLASSE 68 DE CEILÂNDIA", "ESCOLA CLASSE DO SETOR P NORTE", "ESCOLA CLASSE JARDIM DE INFÂNCIABOIA", "ESCOLA CLASSE JUSCELINO KUBITSCHEK - SOL NASCENTE", "ESCOLA CLASSE LAJES DA JIBOIA", "ESCOLA PARQUE ANISIO TEIXEIRA", "SOCIEDADE SÃO VICENTE PAULO - CRECHE FREDERICO OZANAM", "CAIC PROFESSOR ANÍSIO TEIXEIRA", "CED 16 DE CEILÂNDIA", "ESCOLA CLASSE 03 DE CEILÂNDIA", "ESCOLA CLASSE 06 DE CEILÂNDIA", "ESCOLA CLASSE CÓRREGO DAS CORUJAS", "INSTITUTO PAZ É VIDA"];

                escolasCeilandia2 .forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "Gama") {
                // Se o Gama for selecionada, preencher com escolas de Gama
                var escolasGama2 = ["Selecione uma Escola", "CAIC CARLOS CASTELLO BRANCO", "CENTRO DE CONVIVÊNCIA E EDUC INF NOSSA SENHORA DO CARMO", "CENTRO DE CONVIVÊNCIA EDUCACIONAL INF DIVINO ESPÍRITO SANTO", "CENTRO DE EDUCAÇÃO INFANTIL 01 DO GAMA", "CENTRO DE EDUCACIONAL 07 DO GAMA", "CENTRO DE EDUCACIONAL 08 DO GAMA", "CENTRO DE EDUCACIONAL CASA GRANDE", "CENTRO DE EDUCACIONAL GESNER TEIXEIRA", "CENTRO DE ENSINO ESPECIAL 01 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 01 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 03 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 04 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 05 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 08 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 10 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 11 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL 15 DO GAMA", "CENTRO DE ENSINO FUNDAMENTAL PONTE ALTA DO BAIXO", "CENTRO DE ENSINO FUNDAMENTAL PONTE ALTA NORTE", "CENTRO DE ENSINO FUNDAMENTAL TAMANDUÁ", "CENTRO DE ENSINO MÉDIO 01 DO GAMA", "CENTRO DE ENSINO MÉDIO 02 DO GAMA", "CENTRO DE ENSINO MÉDIO 03 DO GAMA", "CENTRO DE ENSINO MÉDIO INTEGRADO À EDUC PROFISSIONAL DO GAMA", "CENTRO EDUCACIONAL 06 DO GAMA", "CENTRO EDUCACIONAL ENGENHO DAS LAJES", "CENTRO INTERESCOLAR DE LINGUAS DO GAMA", "ESCOLA CLASSE 01 DO GAMA", "ESCOLA CLASSE 02 DO GAMA", "ESCOLA CLASSE 03 DO GAMA", "ESCOLA CLASSE 06 DO GAMA", "ESCOLA CLASSE 07 DO GAMA", "ESCOLA CLASSE 09 DO GAMA", "ESCOLA CLASSE 10 DO GAMA", "ESCOLA CLASSE 12 DO GAMA", "ESCOLA CLASSE 14 DO GAMA", "ESCOLA CLASSE 15 DO GAMA", "ESCOLA CLASSE 16 DO GAMA", "ESCOLA CLASSE 17 DO GAMA", "ESCOLA CLASSE 18 DO GAMA", "ESCOLA CLASSE 19 DO GAMA", "ESCOLA CLASSE 21 DO GAMA", "ESCOLA CLASSE 22 DO GAMA", "ESCOLA CLASSE 28 DO GAMA", "ESCOLA CLASSE 29 DO GAMA", "ESCOLA CLASSE CÓRREGO BARREIRO", "ESCOLA CLASSE PONTE ALTA DE CIMA", "JARDIM DE INFÂNCIA 02 DO GAMA", "JARDIM DE INFÂNCIA 03 DO GAMA", "JARDIM DE INFÂNCIA 04 GAMA", "JARDIM DE INFÂNCIA 05 DO GAMA", "JARDIM DE INFÂNCIA 06 GAMA", "CENTRO DE EDUCAÇÃO INFANTIL TOCANDO O MUNDO"];

                escolasGama2.forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "Guará / SCIA / Estrutural") {
                // Se o Guará / SCIA / Estrutural for selecionada, preencher com escolas de Guará / SCIA / Estrutural
                var escolasGuara2 = ["Selecione uma Escola", "ASSOCIAÇÃO DE INTEGRAÇÃO SOCIAL DE BRASÍLIA - CRECHE SOR", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA LOBO GUARA", "CENTRO DE EDUCAÇÃO INFANTIL 01 DA ESTRUTURAL", "CENTRO DE EDUCAÇÃO INFANTIL SAO JOSE OPERARIO", "CENTRO DE EDUCACIONAL 01 DO GUARÁ", "CENTRO DE EDUCACIONAL 04 DO GUARÁ", "CENTRO DE ENSINO ESPECIAL CENTRO DE ENSINO ESPECIAL 01 DO GUARA", "CENTRO DE ENSINO FUNDAMENTAL 01 DO GUARÁ", "CENTRO DE ENSINO FUNDAMENTAL 02 DA ESTRUTURAL", "CENTRO DE ENSINO FUNDAMENTAL 02 DO GUARÁ", "CENTRO DE ENSINO FUNDAMENTAL 03 AS ESTRUTURAL", "CENTRO DE ENSINO FUNDAMENTAL 04 DO GUARÁ", "CENTRO DE ENSINO FUNDAMENTAL 05 DO GUARÁ", "CENTRO DE ENSINO FUNDAMENTAL 08 DO GUARÁ", "CENTRO DE ENSINO FUNDAMENTAL 10 DO GUARÁ", "CENTRO DE ENSINO MÉDIO 01 DO GUARÁ", "CENTRO EDUCACIONAL 01 DA ESTRUTURAL", "CENTRO EDUCACIONAL 03 DO GUARÁ", "CENTRO INTERESCOLAR DE LINGUAS DO GUARA", "CRECHE COMUNITÁRIA DA QE 38 DO GUARÁ II", "CRECHE TIA JOANA DO LUCIO COSTA", "CRESCOLA CLASSEHE RENASCER", "ESCOLA CLASSE 01 DA VILA ESTRUTURAL", "ESCOLA CLASSE 01 DO GUARÁ", "ESCOLA CLASSE 02 DO GUARA", "ESCOLA CLASSE 03 DO GUARÁ", "ESCOLA CLASSE 05 DO GUARÁ", "ESCOLA CLASSE 06 DO GUARÁ", "ESCOLA CLASSE 07 DO GUARÁ", "ESCOLA CLASSE 08 DO GUARÁ", "ESCOLA CLASSE DO SRIA", "JARDIM DE INFÂNCIA LÚCIO COSTA", "CENTRO DE EDUCAÇÃO PROFISSIONAL ARTICULADO DO GUARÁ PROFESSORA T,", "ESCOLA CLASSE 02 DA ESTRUTURAL,"];

                escolasGuara2.forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "Núcleo Bandeirante / Candangolândia / Riacho Fundo I e II") {
                // Se o Núcleo Bandeirante / Candangolândia / Riacho Fundo I e II for selecionada, preencher com escolas de Núcleo Bandeirante / Candangolândia / Riacho Fundo I e II
                var escolasNucleoBandeirante2 = ["Selecione uma Escola", "CAIC JUSCELINO KUBITSCHEK", "CENTRO DE EDUCAÇÃO INFANTIL 01 DO RIACHO FUNDO I", "CENTRO DE EDUCAÇÃO INFANTIL DA CANDANGOLÂNDIA", "CENTRO DE EDUCAÇÃO INFANTIL DO NUCLEO BANDEIRANTE", "CENTRO DE EDUCAÇÃO INFANTIL DO RIACHO FUNDO II", "CENTRO DE EDUCACIONAL 01 DO RIACHO FUNDO II", "CENTRO DE EDUCACIONAL 02 DO RIACHO FUNDO", "CENTRO DE EDUCACIONAL AGROURBANO IPÊ RIACHO FUNDO", "CENTRO DE EDUCACIONAL VARGEM BONITA", "CENTRO DE ENSINO FUNDAMENTAL 01 DA CANDANGOLÂNDIA", "CENTRO DE ENSINO FUNDAMENTAL 01 DO NÚCLEO BANDEIRANTE", "CENTRO DE ENSINO FUNDAMENTAL 01 DO RIACHO FUNDO II", "CENTRO DE ENSINO FUNDAMENTAL 02 DO RIACHO FUNDO II", "CENTRO DE ENSINO FUNDAMENTAL METROPOLITANA", "CENTRO DE ENSINO FUNDAMENTAL TELEBRASÍLIA", "CENTRO DE ENSINO MÉDIO 01 DO RIACHO FUNDO", "CENTRO DE ENSINO MÉDIO JULIA KUBITSCHEK", "CENTRO DE ENSINO MÉDIO URSO BRANCO", "CENTRO INTERESCOLAR DE LINGUAS 01 DO NÚCLEO BANDEIRANTE", "CENTRO INTERESCOLAR DE LINGUAS DO RIACHO FUNDO I", "CENTRO INTERESCOLAR DE LINGUAS DO RIACHO FUNDO II", "CRECHE IRMÃ ELVIRA", "CRECHECANTINHO DE VOCÊ", "CRECHECASA DA MÃE PRETA DO BRASIL - CMPB", "ESCOLA CLASSE 01 DA CANDANGOLÂNDIA", "ESCOLA CLASSE 01 DO RIACHO FUNDO II", "ESCOLA CLASSE 02 DA CANDANGOLÂNDIA", "ESCOLA CLASSE 02 DO RIACHO FUNDO II", "ESCOLA CLASSE 02 DO RIACHO FUNDO", "ESCOLA CLASSE 03 DO NÚCLEO BANDEIRANTE", "ESCOLA CLASSE 04 DO NÚCLEO BANDEIRANTE", "ESCOLA CLASSE 05 DO NÚCLEO BANDEIRANTE", "ESCOLA CLASSE AGROVILA II", "ESCOLA CLASSE IPÊ", "ESCOLA CLASSE KANEGAE", "ESCOLA CLASSE RIACHO FUNDO", "ESCOLA CLASSE VERDE DO RIACHO FUNDO I", "INST DE EDUC HAIDEE NEVES - IEHN", "INST NAIR VALADARES - INAV", "JARDIM DE INFÂNCIA 01 DO RIACHO FUNDO II", "LAR DAS CRIANÇAS LUIZ HERMANI", "LAR EDUCANDÁRIO NOSSA SENHORA MONT SERRAT"];

                escolasNucleoBandeirante2.forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "Paranoá / Itapoã") {
                // Se o Paranoá / Itapoã for selecionada, preencher com escolas de Paranoá / Itapoã
                var escolasParanoa2 = ["Selecione uma Escola", "CAIC SANTA PAULINA", "CENTRO DE EDUC SAO FILIPPO SMALDONE - CENTRO DE ENSINO FUNDAMENTALIS", "CENTRO DE EDUCAÇÃO INFANTIL 01 DO PARANOÁ", "CENTRO DE EDUCACIONAL 01 DO ITAPOÃ", "CENTRO DE ENSINO FUNDAMENTAL 01 DO PARANOA", "CENTRO DE ENSINO FUNDAMENTAL 02 DO PARANOA", "CENTRO DE ENSINO FUNDAMENTAL 03 DO PARANOÁ", "CENTRO DE ENSINO FUNDAMENTAL 04 DO PARANOÁ", "CENTRO DE ENSINO FUNDAMENTAL BURITI VERMELHO", "CENTRO DE ENSINO FUNDAMENTAL DOUTORA ZILDA ARNS", "CENTRO DE ENSINO FUNDAMENTAL JARDIM II DO PARANOÁ", "CENTRO DE ENSINO MÉDIO 01 DO PARANOÁ", "CENTRO EDUCACIONAL DARCY RIBEIRO", "CENTRO EDUCACIONAL DO PAD/DF", "CENTRO INTERESCOLAR DE LINGUAS 01 DO PARANOA", "ESCOLA CLASSE 01 DE ITAPOÃ", "ESCOLA CLASSE 01 DO PARANOÁ", "ESCOLA CLASSE 02 DO ITAPOÃ", "ESCOLA CLASSE 02 DO PARANOÁ", "ESCOLA CLASSE 03 DO PARANOÁ", "ESCOLA CLASSE 04 DO PARANOÁ", "ESCOLA CLASSE 06 DO PARANOÁ", "ESCOLA CLASSE ALTO INTERLAGOS", "ESCOLA CLASSE BOQUEIRÃO", "ESCOLA CLASSE CAFÉ SEM TROCO", "ESCOLA CLASSE CAPÃO SESCOLA CLASSEO", "ESCOLA CLASSE CARIRU", "ESCOLA CLASSE COMUNIDADE DE APRENDIZAGEM DO PARANOÁ", "ESCOLA CLASSE CORA CORALINA", "ESCOLA CLASSE ITAPETI", "ESCOLA CLASSE LAMARÃO", "ESCOLA CLASSE NATUREZA", "ESCOLA CLASSE QUEBRADA DOS NÉRIS", "ESCOLA CLASSE SOBRADINHO DOS MELOS", "ESCOLA CLASSE SUSSUARANA", "ESCOLA CLASSE05 DO PARANOÁ", "INSTITUTO EDUCACIONAL SÃO JUDAS TADEU", "TIA NAIR PARANOÁ"];

                escolasParanoa2.forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "Planaltina / Arapoanga") {
                // Se o Planaltina / Arapoanga for selecionada, preencher com escolas de Planaltina / Arapoanga
                var escolasPlanaltina2 = ["Selecione uma Escola", "CAIC ASSIS CHATEAUBRIAND", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CANÁRIO DA TER", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JATOBÁ", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PEQUIZEIRO", "CENTRO DE EDUCAÇAO INFANTIL 01 DE PLANALTINA", "CENTRO DE EDUCAÇÃO INFANTIL 02 DE PLANALTINA", "CENTRO DE EDUCAÇÃO PROFISSIONAL-ESCOLA TÉCNICA DE PLAN", "CENTRO DE EDUCACIONAL 03 DE PLANALTINA", "CENTRO DE EDUCACIONAL DONA AMERICA GUIMARÃES", "CENTRO DE EDUCACIONAL ESTÂNCIA III", "CENTRO DE EDUCACIONAL OSORIO BACCHIN", "CENTRO DE EDUCACIONAL PIPIRIPAU II", "CENTRO DE EDUCACIONAL POMPÍLIO MARQUES DE SOUZA", "CENTRO DE EDUCACIONAL STELLA DOS CHERUBINS GUIMARÃES TROIS", "CENTRO DE EDUCACIONAL TAQUARA", "CENTRO DE ENSINO ESPECIAL 01 DE PLANALTINA", "CENTRO DE ENSINO FUNDAMENTAL 01 DE PLANALTINA", "CENTRO DE ENSINO FUNDAMENTAL 02 DE PLANALTINA", "CENTRO DE ENSINO FUNDAMENTAL 02 DO ARAPOANGA", "CENTRO DE ENSINO FUNDAMENTAL 03 DE PLANALTINA", "CENTRO DE ENSINO FUNDAMENTAL 04 DE PLANALTINA", "CENTRO DE ENSINO FUNDAMENTAL 08 DE PLANALTINA", "CENTRO DE ENSINO FUNDAMENTAL ARAPOANGA", "CENTRO DE ENSINO FUNDAMENTAL BONSUCESSO", "CENTRO DE ENSINO FUNDAMENTAL CERÂMICAS REUNIDAS DOM BOSCO", "CENTRO DE ENSINO FUNDAMENTAL JUSCELINO KUBITSCHEK", "CENTRO DE ENSINO FUNDAMENTAL NOSSA SENHORA DE FÁTIMA", "CENTRO DE ENSINO FUNDAMENTAL RIO PRETO", "CENTRO DE ENSINO FUNDAMENTAL SÃO JOSÉ", "CENTRO DE ENSINO MÉDIO 01 DE PLANALTINA", "CENTRO DE ENSINO MÉDIO 02 DE PLANALTINA", "CENTRO EDUCACIONAL VALE DO AMANHESCOLA CLASSEER", "CENTRO EDUCACIONAL VÁRZEAS", "CENTRO INTERESCOLAR DE LINGUAS 01 DE PLANALTINA", "CRECHE IRMÃ DULCE", "CRECHE MAGIA DOS SONHOS", "ESCOLA CLASSE 01 DE PLANALTINA", "ESCOLA CLASSE 01 DO ARAPOANGA", "ESCOLA CLASSE 03 DE PLANALTINA", "ESCOLA CLASSE 04 DE PLANALTINA", "ESCOLA CLASSE 05 DE PLANALTINA", "ESCOLA CLASSE 06 DE PLANALTINA", "ESCOLA CLASSE 07 DE PLANALTINA", "ESCOLA CLASSE 09 DE PLANALTINA", "ESCOLA CLASSE 10 DE PLANALTINA", "ESCOLA CLASSE 13 DE PLANALTINA", "ESCOLA CLASSE 14 DE PLANALTINA", "ESCOLA CLASSE 15 PLANALTINA", "ESCOLA CLASSE ALTA - MIR", "ESCOLA CLASSE APRODARMAS", "ESCOLA CLASSE BARRA ALTA", "ESCOLA CLASSE COPERBRAS", "ESCOLA CLASSE CÓRREGO DO MEIO", "ESCOLA CLASSE ESTÂNCIA DO PIPIRIPAU", "ESCOLA CLASSE ESTÂNCIA DE PLANALTINA", "ESCOLA CLASSE ETA 44", "ESCOLA CLASSE FRIGORÍFICO INDUSTRIAL", "ESCOLA CLASSE MESTRE D ARMAS", "ESCOLA CLASSE MONJOLO", "ESCOLA CLASSE NÚCLEO RURAL CÓRREGO DO ATOLEIRO", "ESCOLA CLASSE PALMEIRAS", "ESCOLA CLASSE PARANÁ", "ESCOLA CLASSE PEDRA FUNDAMENTAL", "ESCOLA CLASSE RAJADINHA", "ESCOLA CLASSE REINO DAS FLORES", "ESCOLA CLASSE SANTOS DUMONT", "ESCOLA CLASSE VALE DO SOL", "ESCOLA CLASSE VALE VERDE", "ESCOLA CLASSE16 DE PLANALTINA", "INST SÃO VICENTE DE PAULO", "JARDIM DE INFÂNCIA CASA DE VIVÊNCIA"];

                escolasPlanaltina2.forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "Plano Piloto / Cruzeiro / Jardim Botânico / Lago Norte / Varjão") {
                // Se o Plano Piloto / Cruzeiro / Jardim Botânico / Lago Norte / Varjão for selecionada, preencher com escolas de Plano Piloto / Cruzeiro / Jardim Botânico / Lago Norte / Varjão
                var escolasPlanopiloto2 = ["Selecione uma Escola", "AÇÃO SOCIAL PAULA FRASSINETTI", "ASSOC DE MAES PAIS AMIGOS REABILITADORES DE EXCESCOLA PARQUE - AMP", "ASSOC DE PAIS E AMIGOS DOS EXCESCOLA PARQUE - APAE-DF", "ASSOC PESTALOZZI DE BRASILIA", "ASSOCIAÇÃO CRUZ DE MALTA", "CASA DA CRIANÇA PÃO DE SANTO ANTÔNIO", "CASA DE ISMAEL - LAR DA CRIANÇA", "CEJA ASA SUL - CESAS", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CAJUZINHO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA GAVIÃO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JACARANDÁ", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA OLHOS D AGUA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PERDIZ", "CENTRO DE EDUCAÇÃO DE JOVENS E ADULTOS E EDUCAÇÃO PROFISSIONAL", "CENTRO DE EDUCAÇÃO INFANTIL 01 DE BRASÍLIA", "CENTRO DE EDUCAÇÃO INFANTIL 316 NORTE", "CENTRO DE EDUCACIONAL 01 DE BRASÍLIA", "CENTRO DE EDUCACIONAL DA AUDICAO E LINGUAGEM LUDOVICO PAVONI - CEAL", "CENTRO DE EDUCACIONAL DO LAGO NORTE", "CENTRO DE EDUCACIONAL DO LAGO", "CENTRO DE ENSINO ESPECIAL 01 DE BRASILIA", "CENTRO DE ENSINO ESPECIAL 02 DE BRASÍLIA", "CENTRO DE ENSINO ESPECIAL DE DEFICIENTES VISUAIS", "CENTRO DE ENSINO FUNDAMENTAL 01 DO CRUZEIRO", "CENTRO DE ENSINO FUNDAMENTAL 01 DE BRASÍLIA", "CENTRO DE ENSINO FUNDAMENTAL 01 DO LAGO NORTE", "CENTRO DE ENSINO FUNDAMENTAL 01 DO PLANALTO", "CENTRO DE ENSINO FUNDAMENTAL 01 DO VARJÃO", "CENTRO DE ENSINO FUNDAMENTAL 02 DE BRASÍLIA", "CENTRO DE ENSINO FUNDAMENTAL 03 DE BRASÍLIA", "CENTRO DE ENSINO FUNDAMENTAL 04 DE BRASÍLIA", "CENTRO DE ENSINO FUNDAMENTAL 05 DE BRASILIA", "CENTRO DE ENSINO FUNDAMENTAL 06 DE BRASÍLIA", "CENTRO DE ENSINO FUNDAMENTAL 07 DE BRASÍLIA", "CENTRO DE ENSINO FUNDAMENTAL 102 NORTE", "CENTRO DE ENSINO FUNDAMENTAL 104 NORTE", "CENTRO DE ENSINO FUNDAMENTAL 214 SUL", "CENTRO DE ENSINO FUNDAMENTAL 306 NORTE", "CENTRO DE ENSINO FUNDAMENTAL 405 SUL", "CENTRO DE ENSINO FUNDAMENTAL 410 NORTE", "CENTRO DE ENSINO FUNDAMENTAL ATHOS BULCÃO", "CENTRO DE ENSINO FUNDAMENTAL CASEB", "CENTRO DE ENSINO FUNDAMENTAL GAN", "CENTRO DE ENSINO FUNDAMENTAL POLIVALENTE", "CENTRO DE ENSINO MÉDIO ASA NORTE - CEAN", "CENTRO DE ENSINO MÉDIO ELEFANTE BRANCO", "CENTRO DE ENSINO MÉDIO INTEGRADO DO CRUZEIRO", "CENTRO DE ENSINO MÉDIO PAULO FREIRE", "CENTRO DE ENSINO MÉDIO SETOR LESTE", "CENTRO DE ENSINO MÉDIO SETOR OESTE", "CENTRO EDUCACIONAL 02 DO CRUZEIRO", "CENTRO EDUCACIONAL GISNO", "CENTRO INTERESCOLAR DE LINGUAS 01 DE BRASILIA", "CENTRO INTERESCOLAR DE LINGUAS 02 DE BRASILIA", "CENTRO SOCIAL COMUNITÁRIO TIA ANGELINA", "CESCOLA PARQUE - ESC DE MUSICA DE BRASILIA", "CIEF - C INTEGRADO DE EDUC FISICA", "CRECHECRUZ DE MALTA NOSSA SENHORA DO FILERMO", "CRESCOLA CLASSEHE CASA DO PEQUENO POLEGAR", "CRESCOLA CLASSEHE PIONEIRA DA VILA PLANALTO", "CRESCOLA CLASSEHE SÃO VICENTE DE PAULO", "ESCOLA CLASSE 01 SHI - SUL", "ESCOLA CLASSE 04 DO CRUZEIRO", "ESCOLA CLASSE 05 DO CRUZEIRO", "ESCOLA CLASSE 06 DO CRUZEIRO", "ESCOLA CLASSE 08 DO CRUZEIRO", "ESCOLA CLASSE 102 SUL", "ESCOLA CLASSE 106 NORTE", "ESCOLA CLASSE 108 SUL", "ESCOLA CLASSE 111 SUL", "ESCOLA CLASSE 113 NORTE", "ESCOLA CLASSE 114 SUL", "ESCOLA CLASSE 115 NORTE", "ESCOLA CLASSE 204 SUL", "ESCOLA CLASSE 206 SUL", "ESCOLA CLASSE 209 SUL", "ESCOLA CLASSE 302 NORTE", "ESCOLA CLASSE 304 NORTE", "ESCOLA CLASSE 304 SUL", "ESCOLA CLASSE 305 SUL", "ESCOLA CLASSE 308 SUL", "ESCOLA CLASSE 312 NORTE", "ESCOLA CLASSE 314 SUL", "ESCOLA CLASSE 316 SUL", "ESCOLA CLASSE 403 NORTE", "ESCOLA CLASSE 405 NORTE", "ESCOLA CLASSE 407 NORTE", "ESCOLA CLASSE 410 SUL", "ESCOLA CLASSE 411 NORTE", "ESCOLA CLASSE 413 SUL", "ESCOLA CLASSE 415 NORTE", "ESCOLA CLASSE 416 SUL", "ESCOLA CLASSE 708 NORTE", "ESCOLA CLASSE ASPALHA", "ESCOLA CLASSE DA VILA DO REGIMENTO DE CAVALARIA DE GUARDA", "ESCOLA CLASSE DO SETOR MILITAR URBANO", "ESCOLA CLASSE GRANJA DO TORTO", "ESCOLA CLASSE JARDIM BOTÂNICO", "ESCOLA DA NATUREZA", "ESCOLA DO PARQUE DA CIDADE - PROEM", "ESCOLA MENINOS E MENINAS DO PARQUE", "ESCOLA PARQUE 210-211 NORTE", "ESCOLA PARQUE 210-211 SUL", "ESCOLA PARQUE 303-304 NORTE", "ESCOLA PARQUE 307-308 SUL", "ESCOLA PARQUE 313-314 SUL", "GRUPO DA FRATERNIDADE CÍCERO PEREIRA", "JARDIM DE INFÂNCIA 01 DO CRUZEIRO", "JARDIM DE INFÂNCIA 02 DO CRUZEIRO", "JARDIM DE INFÂNCIA 102 SUL", "JARDIM DE INFÂNCIA 106 NORTE", "JARDIM DE INFÂNCIA 108 SUL", "JARDIM DE INFÂNCIA 114 SUL", "JARDIM DE INFÂNCIA 208 SUL", "JARDIM DE INFÂNCIA 21 DE ABRIL", "JARDIM DE INFÂNCIA 302 NORTE", "JARDIM DE INFÂNCIA 303 SUL", "JARDIM DE INFÂNCIA 304 NORTE", "JARDIM DE INFÂNCIA 305 SUL", "JARDIM DE INFÂNCIA 308 SUL", "JARDIM DE INFÂNCIA 312 NORTE", "JARDIM DE INFÂNCIA 314 SUL", "JARDIM DE INFÂNCIA 316 SUL", "JARDIM DE INFÂNCIA 404 NORTE", "JARDIM DE INFÂNCIA CASA DO CANDANGO", "JARDIM DE INFÂNCIA VI COMAR"];

                escolasPlanopiloto2.forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "Recanto das Emas") {
                // Se o Recanto das Emas for selecionada, preencher com escolas de Recanto das Emas
                var escolasRecantodasemas2 = ["Selecione uma Escola", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ARARA-CANINDE", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA BEIJA-FLOR", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PINHEIRINHO ROXO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA QUERO-QUERO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA SABIA-DO-CAMPO", "CENTRO DE EDUCAÇÃO INFANTIL 304 DO RECANTO DAS EMAS", "CENTRO DE EDUCAÇÃO INFANTIL 310 DO RECANTO DAS EMAS", "CENTRO DE EDUCAÇÃO INFANTIL BURITIZINHO", "CENTRO DE EDUCACIONAL 104 DO RECANTO DAS EMAS", "CENTRO DE EDUCACIONAL MYRIAM ERVILHA", "CENTRO DE ENSINO FUNDAMENTAL 101 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 106 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 113 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 115 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 206 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 301 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 306 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 405 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 602 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 801 DO RECANTO DAS EMAS", "CENTRO DE ENSINO FUNDAMENTAL 802 DO RECANTO DAS EMAS", "CENTRO DE ENSINO MÉDIO 111 DO RECANTO DAS EMAS", "CENTRO DE ENSINO MÉDIO 804 DO RECANTO DAS EMAS", "CENTRO EDUCACIONAL 308 DO RECANTO DAS EMAS", "CENTRO INTERESCOLAR DE LINGUAS 01 DO RECANTO DAS EMAS", "ESC DE EDUC INF CORACAO DE CRISTO", "ESCOLA CLASSE 102 DO RECANTO DAS EMAS", "ESCOLA CLASSE 203 DO RECANTO DAS EMAS", "ESCOLA CLASSE 401 DO RECANTO DAS EMAS", "ESCOLA CLASSE 404 DO RECANTO DAS EMAS", "ESCOLA CLASSE 510 DO RECANTO DAS EMAS", "ESCOLA CLASSE 803 DO RECANTO DAS EMAS", "ESCOLA CLASSE VILA BURITIS", "JARDIM DE INFÂNCIA 603 DO RECANTO DAS EMAS", "PRO-VIDA CENTRO DE EDUCAÇÃO INFANTIL"];

                escolasRecantodasemas2.forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "Samambaia") {
                // Se o Samambaia for selecionada, preencher com escolas de Samambaia
                var escolasSamambaia2 = ["Selecione uma Escola", "AFMA- AÇÃO SOCIAL COMUNITÁRIA", "ASS. BENEF. EVANG. - CRESCOLA CLASSEHE PR FRANCISCO MIRANDA", "ASSOCIAÇÃO MARIA DE NAZARÉ", "ASSOCIAÇÃO NOSSA SENHORA MÃE DOS HOMENS", "CAIC AYRTON SENNA", "CAIC HELENA REIS", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ALGODAO -DO-CERRADO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ANDORINHA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ANGICO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA AZULÃO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA BAMBU", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA BEM-TE-VI", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CALIANDRA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CAPIM ESTRELA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CUTIA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA IPÊ- ROSA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA IPÊ ROXO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JABUTI", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JURITI", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA MANDACARU", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA MANGABEIRA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ONÇA PINTADA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PAINEIRA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PERIQUITO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA PICA-PAU BRANCO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA RAPOSA- DO- CERRADO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA SUCUPIRA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA TAMANDUA BANDEIRA", "CENTRO DE EDUCAÇÃO INFANTIL 210 DE SAMAMBAIA", "CENTRO DE EDUCAÇÃO INFANTIL 307 DE SAMAMBAIA", "CENTRO DE ENSINO ESPECIAL 01 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 120 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 312 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 404 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 407 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 411 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 412 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 427 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 504 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 507 DE SAMAMBAIA", "CENTRO DE ENSINO FUNDAMENTAL 519 DE SAMAMBAIA", "CENTRO DE ENSINO MÉDIO 304 DE SAMAMBAIA", "CENTRO DE ENSINO MÉDIO 414 DE SAMAMBAIA", "CENTRO EDUCACIONAL 123 DE SAMAMBAIA", "CENTRO EDUCACIONAL 619 DE SAMAMBAIA", "CENTRO INTERESCOLAR DE LINGUAS 01 DE SAMAMBAIA", "ESCOLA CLASSE 108 DE SAMAMBAIA", "ESCOLA CLASSE 111 DE SAMAMBAIA", "ESCOLA CLASSE 121 DE SAMAMBAIA", "ESCOLA CLASSE 303 DE SAMAMBAIA", "ESCOLA CLASSE 317 DE SAMAMBAIA", "ESCOLA CLASSE 318 DE SAMAMBAIA", "ESCOLA CLASSE 325 DE SAMAMBAIA", "ESCOLA CLASSE 403 DE SAMAMBAIA", "ESCOLA CLASSE 410 DE SAMAMBAIA", "ESCOLA CLASSE 415 DE SAMAMBAIA", "ESCOLA CLASSE 419 DE SAMAMBAIA", "ESCOLA CLASSE 425 DE SAMAMBAIA", "ESCOLA CLASSE 431 DE SAMAMBAIA", "ESCOLA CLASSE 501 DE SAMAMBAIA", "ESCOLA CLASSE 502 SAMAMBAIA", "ESCOLA CLASSE 510 DE SAMAMBAIA", "ESCOLA CLASSE 511 DE SAMAMBAIA", "ESCOLA CLASSE 512 DE SAMAMBAIA", "ESCOLA CLASSE 604 DE SAMAMBAIA", "ESCOLA CLASSE 614 DE SAMAMBAIA", "ESCOLA CLASSE 831 DE SAMAMBAIA", "ESCOLA CLASSE GUARIROBA", "LAR ASSISTENCIAL MARIA DE NAZARÉ - CRESCOLA CLASSEHE LAR DE MARIA", "PROJETO SÓCIO EDUCATIVO SANTA LUZIA", "SOCIEDADE ESPÍRITA DE EDUCAÇÃO - SEMENTE LUZ"];

                escolasSamambaia2.forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "Santa Maria") {
                // Se o Santa Maria for selecionada, preencher com escolas de Santa Maria
                var escolasSantamaria2 = ["Selecione uma Escola", "CAIC ALBERT SABIN", "CAIC SANTA MARIA", "CENTRO DE CONVIVÊNCIA E EDUCAÇÃO INFANTIL MARIA MÃE DA PROVIDÊNCIA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ANGELINS", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ARARAUANA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA BURITI", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CORUJINHA DO CERRADO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CURIO", "CENTRO DE EDUCAÇÃO INFANTIL 203 DE SANTA MARIA", "CENTRO DE EDUCAÇÃO INFANTIL 210 DE SANTA MARIA", "CENTRO DE EDUCAÇÃO INFANTIL 416-516 DE SANTA MARIA", "CENTRO DE EDUCACIONAL 310 DE SANTA MARIA", "CENTRO DE EDUCACIONAL 416 DE SANTA MARIA", "CENTRO DE ENSINO ESPECIAL 01 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 103 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 201 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 209 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 213 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 308 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 316 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 403 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL 418 DE SANTA MARIA", "CENTRO DE ENSINO FUNDAMENTAL SANTOS DUMONT", "CENTRO DE ENSINO FUNDAMENTAL SARGENTO LIMA", "CENTRO DE ENSINO MÉDIO 404 DE SANTA MARIA", "CENTRO DE ENSINO MÉDIO 417 DE SANTA MARIA", "CENTRO INTERESCOLAR DE LINGUAS 01 DE SANTA MARIA", "ESCOLA CLASSE 01 DO PORTO RICO", "ESCOLA CLASSE 100 de Santa Maria", "ESCOLA CLASSE 116 DE SANTA MARIA", "ESCOLA CLASSE 203 DE SANTA MARIA", "ESCOLA CLASSE 206 DE SANTA MARIA", "ESCOLA CLASSE 215 DE SANTA MARIA", "ESCOLA CLASSE 218 DE SANTA MARIA", "JARDIM DE INFÂNCIA 116 DE SANTA MARIA", "OBRAS ASSISTENCIAIS PADRE NATALE BATTEZZI - CENTRO DE CO"];

                escolasSantamaria2.forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "São Sebastião") {
                // Se o São Sebastião for selecionada, preencher com escolas de São Sebastião
                var escolasSaosebastiao2 = ["Selecione uma Escola", "CAIC UNESCO", "CENTRO DE EDUCAÇÃO INFANTIL 01 DE SÃO SEBASTIÃO", "CENTRO DE EDUCAÇÃO INFANTIL 03 DE SÃO SEBASTIÃO", "CENTRO DE EDUCAÇÃO INFANTIL 04 SÃO SEBASTIÃO", "CENTRO DE EDUCAÇÃO INFANTIL 05 DE SÃO SEBASTIÃO", "CENTRO DE EDUCACIONAL SAO BARTOLOMEU", "CENTRO DE EDUCACIONAL SÃO FRANCISCO", "CENTRO DE ENSINO FUNDAMENTAL CERAMICA SÃO PAULO", "CENTRO DE ENSINO FUNDAMENTAL DO BOSQUE", "CENTRO DE ENSINO FUNDAMENTAL JATAÍ", "CENTRO DE ENSINO FUNDAMENTAL MIGUEL ARCANJO", "CENTRO DE ENSINO FUNDAMENTAL NOVA BETÂNIA", "CENTRO DE ENSINO MÉDIO 01 DE SÃO SEBASTIÃO", "CENTRO EDUCACIONAL SÃO JOSÉ", "CENTRO INTERESCOLAR DE LINGUAS 01 DE SÃO SEBASTIÃO", "CRECHE BEM ME QUER", "ESCOLA CLASSE 104 DE SÃO SEBASTIÃO", "ESCOLA CLASSE 303 DE SÃO SEBASTIÃO", "ESCOLA CLASSE AGROVILA SÃO SEBASTIÃO", "ESCOLA CLASSE AGUILHADA", "ESCOLA CLASSE BELA VISTA", "ESCOLA CLASSE CACHOEIRINHA", "ESCOLA CLASSE CERÂMICA DA BENÇÃO", "ESCOLA CLASSE DOM BOSCO", "ESCOLA CLASSE SÃO BARTOLOMEU", "ESCOLA CLASSE VILA DO BOA", "ESCOLA CLASSE VILA NOVA", "INST. EDUCACIONAL DOM LEOLINO E IRMÃ CESCOLA CLASSEÍLIA LUVIZOTTO"];

                escolasSaosebastiao2.forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "Sobradinho / Sobradinho II / Fercal") {
                // Se o Sobradinho / Sobradinho II / Fercal for selecionada, preencher com escolas de Sobradinho / Sobradinho II / Fercal
                var escolasSobradinho2 = ["Selecione uma Escola", "CAIC JÚLIA KUBITSCHEK DE OLIVEIRA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JOÃO DE BARRO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ARAÇÁ-MIRIM", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA CANELA-DE-E", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA FLOR DE LIS", "CENTRO DE EDUCAÇÃO INFANTIL 01 DE SOBRADINHO", "CENTRO DE EDUCAÇÃO INFANTIL 02 DE SOBRADINHO", "CENTRO DE EDUCAÇÃO INFANTIL 03 DE SOBRADINHO", "CENTRO DE EDUCAÇÃO INFANTIL 04 DE SOBRADINHO", "CENTRO DE EDUCACIONAL 02 DE SOBRADINHO", "CENTRO DE EDUCACIONAL FERCAL", "CENTRO DE EDUCACIONAL PROF CARLOS RAMOS MOTA", "CENTRO DE ENSINO ESPECIAL 01 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 01 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 04 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 05 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 07 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 08 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 09 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL 3 03 DE SOBRADINHO", "CENTRO DE ENSINO FUNDAMENTAL QUEIMA LENÇOL", "CENTRO DE ENSINO MÉDIO 01 DE SOBRADINHO", "CENTRO EDUCACIONAL 03 DE SOBRADINHO", "CENTRO EDUCACIONAL 04 DE SOBRADINHO", "CENTRO INTERESCOLAR DE LINGUAS DE SOBRADINHO", "COL ALLAN KARDEC", "ESCOLA CLASSE 01 DE SOBRADINHO", "ESCOLA CLASSE 04 DE SOBRADINHO", "ESCOLA CLASSE 05 DE SOBRADINHO", "ESCOLA CLASSE 10 DE SOBRADINHO", "ESCOLA CLASSE 11 DE SOBRADINHO", "ESCOLA CLASSE 12 DE SOBRADINHO", "ESCOLA CLASSE 13 DE SOBRADINHO", "ESCOLA CLASSE 14 DE SOBRADINHO", "ESCOLA CLASSE 15 DE SOBRADINHO", "ESCOLA CLASSE 16 DE SOBRADINHO", "ESCOLA CLASSE 17 DE SOBRADINHO", "ESCOLA CLASSE BASEVI", "ESCOLA CLASSE BOA VISTA", "ESCOLA CLASSE BROCHADO DA ROCHA", "ESCOLA CLASSE CATINGUEIRO", "ESCOLA CLASSE CÓRREGO DO ARROZAL", "ESCOLA CLASSE CÓRREGO DO OURO", "ESCOLA CLASSE ENGENHO VELHO", "ESCOLA CLASSE LOBEIRAL", "ESCOLA CLASSE MORRO DO SANSÃO", "ESCOLA CLASSE OLHOS D ÁGUA", "ESCOLA CLASSE RIBEIRÃO", "ESCOLA CLASSE RUA DO MATO", "ESCOLA CLASSE SANTA HELENA", "ESCOLA CLASSE SÍTIO DAS ARAUCÁRIAS", "ESCOLA CLASSE SONHÉM DE CIMA", "IE PINTANDO O SETE", "INSTITUTO VITÓRIA RÉGIA PARA O DESENVOLVIMENTO HUMANO"];

                escolasSobradinho2.forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else if (regiaoSelecionada2 === "Taguatinga / Águas Claras / Arniqueira / Vicente Pires") {
                // Se o Taguatinga / Águas Claras / Arniqueira / Vicente Pires for selecionada, preencher com escolas de Taguatinga / Águas Claras / Arniqueira / Vicente Pires
                var escolasTaguatinga2 = ["Selecione uma Escola", "ASSOC DE PAIS E AMIGOS EXCESCOLA PARQUE E DEFICIENTES - APAED", "CAIC PROF WALTER JOSÉ DE MOURA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA JEQUITIBÁ", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA MACAÚBA", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA ROSA DO CERRADO", "CENTRO DE EDUCAÇÃO DA PRIMEIRA INFÂNCIA SABIA LARANJEIRA", "CENTRO DE EDUCAÇÃO INFANTIL 01 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 02 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 03 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 04 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 05 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 06 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 07 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL 08 DE TAGUATINGA", "CENTRO DE EDUCAÇÃO INFANTIL ÁGUAS CLARAS", "CENTRO DE EDUCACIONAL 05 DE TAGUATINGA", "CENTRO DE EDUCACIONAL 02 DE TAGUATINGA", "CENTRO DE EDUCACIONAL 04 DE TAGUATINGA", "CENTRO DE EDUCACIONAL 06 DE TAGUATINGA", "CENTRO DE EDUCACIONAL 07 DE TAGUATINGA", "CENTRO DE ENSINO ESPECIAL 01 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 15 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL VILA AREAL", "CENTRO DE ENSINO FUNDAMENTAL 03 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 04 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 05 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 08 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 09 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 10 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 11 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 12 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 14 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 16 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 17 DE TAGUATINGA", "CENTRO DE ENSINO FUNDAMENTAL 19 DE TAGUATINGA", "CENTRO DE ENSINO MÉDIO 03 DE TAGUATINGA", "CENTRO DE ENSINO MÉDIO AVE BRANCA", "CENTRO DE ENSINO MÉDIO ESCOLA INDUSTRIAL DE TAGUATINGA - EIT", "CENTRO DE ENSINO MÉDIO TAGUATINGA NORTE", "CENTRO INTERESCOLAR DE LINGUAS DE TAGUATINGA", "CENTRO INTERESCOLAR DE LINGUAS DE TAGUATINGA", "CESCOLA PARQUE - ESCOLA CLASSE NICA DE BRASÍLIA", "CRECHE- CANTINHO DA PAZ", "ESCOLA BILÍNGUE LIBRAS E PORTUGUÊS ESCRITO DE TAGUATINGA", "ESCOLA CLASSE 18 DE TAGUATINGA", "ESCOLA CLASSE 54 DE TAGUATINGA", "ESCOLA CLASSE 01 DE TAGUATINGA", "ESCOLA CLASSE 02 DE VICENTE PIRES", "ESCOLA CLASSE 06 DE TAGUATINGA", "ESCOLA CLASSE 08 DE TAGUATINGA", "ESCOLA CLASSE 10", "ESCOLA CLASSE 11 DE TAGUATINGA", "ESCOLA CLASSE 12 DE TAGUATINGA", "ESCOLA CLASSE 13,", "ESCOLA CLASSE 15 DE TAGUATINGA", "ESCOLA CLASSE 16 DE TAGUATINGA", "ESCOLA CLASSE 17 DE TAGUATINGA", "ESCOLA CLASSE 19 DE TAGUATINGA", "ESCOLA CLASSE 27 DE TAGUATINGA", "ESCOLA CLASSE 29 DE TAGUATINGA", "ESCOLA CLASSE 39 DE TAGUATINGA", "ESCOLA CLASSE 41 DE TAGUATINGA", "ESCOLA CLASSE 42 DE TAGUATINGA", "ESCOLA CLASSE 45 DE TAGUATINGA", "ESCOLA CLASSE 46 DE TAGUATINGA", "ESCOLA CLASSE 50 DE TAGUATINGA", "ESCOLA CLASSE 52 DE TAGUATINGA", "ESCOLA CLASSE 53 DE TAGUATINGA", "ESCOLA CLASSE 55 DE TAGUATINGA", "ESCOLA CLASSE ARNIQUEIRA", "ESCOLA CLASSE COLÔNIA AGRÍCOLA VICENTE PIRES", "LAR DA CRIANÇA PADRE CÍCERO - CENTRO DE EDUCAÇÃO INFANTILSC UNIDADE I/II", "SOCIEDADE DO AMOR EM AÇÃO - ESCOLA FLOR DE LIS", "SOCIEDADE DO AMOR EM AÇÃO - ESCOLINHA BEIJA FLOR", "SOCIEDADE ESPÍRITA DE AMPARO AO MENOR CASA DO CAMINH"];

                escolasTaguatinga2.forEach(function(escola2) {
                    var option = document.createElement("option");
                    option.value = escola2;
                    option.text = escola2;
                    segundoSelect2.appendChild(option);
                });
            } else {
                var option = document.createElement("option");
                option.value = "selecione";
                option.text = "Selecione uma Escola";
                segundoSelect2.appendChild(option);
            }
          }
        </script>
      </div>

        <div class="form-group">
          <label for="turno_destino">Turno:</label>
         <select type="text" class="form-control" id="turno_destino" name="turno_destino" placeholder="Selecione o turno" required>
              <option value="selecione">Selecione o Turno...</option> 
                <option value="Matutino">Matutino</option>
                <option value="Vespertino">Vespertino</option>
                <option value="Noturno">Noturno</option>
          </select>
        </div>

        <input type="hidden" name="new_trocavaga" value="1">
        <button type="submit" class="btn btn-primary">Enviar</button>

      </form>
    </div>
  </div>
</div>

